# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [119]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [120]:
wine = pd.read_csv(r'C:\Users\Teo\Documents\Python practice\wine.data')

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [121]:
wine.drop(wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis=1, inplace=True)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [122]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [123]:
wine.iloc[:3] = np.NaN

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [124]:
wine.iloc[3:5, wine.columns.get_loc('magnesium')] = np.NaN

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [125]:
wine[wine['alcohol'].isnull()] = 10
wine[wine['magnesium'].isnull()] = 100

### Step 9. Count the number of missing values

In [126]:
wine.isnull().sum().sum()

0

### Step 10.  Create an array of 10 random numbers up until 10

In [127]:
my_array = np.random.randint(11, size=10)

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [128]:
wine.alcohol[my_array] = np.NaN

### Step 12.  How many missing values do we have?

In [129]:
wine.isnull().sum().sum()

7

### Step 13. Delete the rows that contain missing values

In [130]:
wine.dropna(inplace=True)

### Step 14. Print only the non-null values in alcohol

In [131]:
wine[wine.alcohol.notnull()]

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
1,10.00,10.00,10.0,10.0,10.00,10.00,10.00
2,10.00,10.00,10.0,10.0,10.00,10.00,10.00
3,100.00,100.00,100.0,100.0,100.00,100.00,100.00
4,100.00,100.00,100.0,100.0,100.00,100.00,100.00
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

In [133]:
wine[wine.notnull()]

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
1,10.00,10.00,10.0,10.0,10.00,10.00,10.00
2,10.00,10.00,10.0,10.0,10.00,10.00,10.00
3,100.00,100.00,100.0,100.0,100.00,100.00,100.00
4,100.00,100.00,100.0,100.0,100.00,100.00,100.00
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### Step 15.  Reset the index, so it starts with 0 again

In [134]:
wine.reset_index(drop=True)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,10.00,10.0,10.0,10.00,10.00,10.00
1,10.00,10.00,10.0,10.0,10.00,10.00,10.00
2,100.00,100.00,100.0,100.0,100.00,100.00,100.00
3,100.00,100.00,100.0,100.0,100.00,100.00,100.00
4,13.75,1.73,16.0,89.0,2.76,1.81,1.15
...,...,...,...,...,...,...,...
165,13.71,5.65,20.5,95.0,0.61,1.06,0.64
166,13.40,3.91,23.0,102.0,0.75,1.41,0.70
167,13.27,4.28,20.0,120.0,0.69,1.35,0.59
168,13.17,2.59,20.0,120.0,0.68,1.46,0.60
169,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### BONUS: Create your own question and answer it.