# From https://pynative.com/python-pandas-exercise/

### Question 1: From given data set print first and last five rows

In [43]:
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
data = pd.read_csv(r"C:\Users\Teo\Downloads\Compressed\Automobile_data.csv")
print(data.head(5))
print(data.tail(5))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

### Question 2: Clean data and update the CSV file
Replace all column values which contain ‘?’ and n.a with NaN.

In [3]:
data.replace(regex=(r'\? | n\.a'), value='NaN')

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### Question 3: Find the most expensive car company name

In [4]:
most_exp = max(data.price)
print(data.company[data.price == most_exp])

35    mercedes-benz
Name: company, dtype: object

### Question 4: Print All Toyota Cars details

In [5]:
print(data[data.company == 'toyota'])

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

### Question 5: Count total cars per company

In [22]:
print(data['company'].value_counts())

toyota           7
bmw              6
nissan           5
mazda            5
volkswagen       4
mercedes-benz    4
audi             4
mitsubishi       4
isuzu            3
alfa-romero      3
chevrolet        3
porsche          3
jaguar           3
honda            3
volvo            2
dodge            2
Name: company, dtype: int64

### Question 6: Find each company’s Higesht price car

In [28]:
print(data.groupby(['company'])['price'].max())

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

### Question 7: Find the average mileage of each car making company

In [30]:
print(data.groupby(['company'])['average-mileage'].mean())

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

### Question 8: Sort all cars by Price column

In [39]:
print(data.sort_values(by=['price']).head())

    index     company body-style  wheel-base  length engine-type  \
13     16   chevrolet  hatchback        88.4   141.1           l
27     36       mazda  hatchback        93.1   159.1         ohc
48     66      toyota  hatchback        95.7   158.7         ohc
36     49  mitsubishi  hatchback        93.7   157.3         ohc
28     37       mazda  hatchback        93.1   159.1         ohc

   num-of-cylinders  horsepower  average-mileage   price
13            three          48               47  5151.0
27             four          68               30  5195.0
48             four          62               35  5348.0
36             four          68               37  5389.0
28             four          68               31  6095.0

### Question 9: Concatenate two data frames using the following conditions
Create two data frames using the following two Dicts, Concatenate those two data frames and create a key for each data frame.

In [48]:
GermanCars = pd.DataFrame({'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]})
japaneseCars = pd.DataFrame({'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]})
print(pd.concat([GermanCars, japaneseCars]))

       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
0       Toyota   29995
1        Honda   23600
2       Nissan   61500
3  Mitsubishi    58900

### Question 10: Merge two data frames using the following condition
Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.

In [55]:
Car_Price = pd.DataFrame({'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]})
car_Horsepower = pd.DataFrame({'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]})
print(Car_Price.merge(car_Horsepower, on = 'Company'))

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160