In [1]:
import math
import pandas as pd
df = pd.read_excel('Driving.xlsx', engine='openpyxl')
df.head()

,App,Week,Rides,Booked time,Online time,Ride earnings,Tips,Bonuses,Cancel earnings,Tolls,Streak bonuses,Earning guarantees,Net earnings,Real earnings
0,Lyft,2021-02-22,20,408,529,107.31,15.50,13.22,0.00,0.0,0,0.0,136.03,136.03
1,Lyft,2021-03-08,4,115,126,34.13,8.07,2.70,0.00,0.0,15,0.0,59.90,59.90
2,Lyft,2021-03-15,39,1165,1200,347.94,21.79,85.57,8.74,13.5,165,0.0,642.54,629.04
3,Lyft,2021-03-22,0,0,0,0.00,0.00,0.00,0.00,0.0,0,0.0,0.00,0.00
4,Lyft,2021-03-29,57,1319,1401,375.93,48.41,156.40,2.00,9.6,255,0.0,847.34,837.74

In [2]:
# Average income per hour
print(df['Real earnings'].sum() * 60 / df['Online time'].sum())

28.330197859228026

In [3]:
# Average income per trip
print(df['Real earnings'].sum() / df['Rides'].sum())

14.299607072691552

In [4]:
# Percentage of tips
print(f"{df['Tips'].sum() *100 / df['Real earnings'].sum():.2f}%")

3.66%

In [5]:
# Percentage of cancel earnings
print(f"{df['Cancel earnings'].sum() *100 / df['Real earnings'].sum():.2f}%")

1.24%

In [6]:
# Trips per hour
trips_per_hour = df['Rides'].sum() / (df['Booked time'].sum()/60)
print(f"{trips_per_hour:.2f}")

2.28

In [7]:
def lte_trips_per_hour(n: int, mu: int) -> float:
    '''This function uses Possion distribution to find the probability of 
    receiving less than or equal to n (trips) per hour given the average mu (trips) per hour'''
    return math.e**(-mu)*sum((mu**i)/(math.factorial(i)) for i in range(n+1))
def gt_trips_per_hour(n: int, mu: int) -> float:
    '''This function uses Possion distribution to find the probability of 
    receiving greater than n (trips) per hour given the average mu (trips) per hour'''
    return 1 - lte_trips_per_hour(n, mu)

# Probability to receive more than 3 trips in one hour
print(f"{gt_trips_per_hour(3, trips_per_hour) * 100:.2f}%")

19.61%