In [41]:
# Import libraries and the data set
import pandas as pd
import numpy as np
import sidetable
import DataScience

df = pd.read_csv('train_v9rqX0R.csv', index_col=['Item_Identifier', 'Outlet_Identifier'])
X_test = pd.read_csv('test_AbJTz2l.csv', index_col=['Item_Identifier', 'Outlet_Identifier'])

In [42]:
# Have a look at the first five rows
df.head()

,,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,Outlet_Identifier,,,,,,,,,,
FDA15,OUT049,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,OUT018,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,OUT049,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,OUT010,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,NaN,Tier 3,Grocery Store,732.3800
NCD19,OUT013,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [43]:
# See the missing data in columns
df.stb.missing(style=True)

In [44]:
# Check data types of columns
df.dtypes

Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [45]:
# Get X_train and y_train
y_train = df.Item_Outlet_Sales.copy()
X_train = df.drop(columns='Item_Outlet_Sales').copy()

In [46]:
# Retrive num_cols and cat_cols
num_cols = X_train._get_numeric_data().columns
cat_cols = list(set(X_train.columns) - set(num_cols))

In [47]:
# Have a look at cat_cols values
print('cat')
for cat_col in cat_cols:
    print(cat_col, X_train[cat_col].unique())

cat
Item_Type ['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']
Outlet_Location_Type ['Tier 1' 'Tier 3' 'Tier 2']
Outlet_Type ['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']
Item_Fat_Content ['Low Fat' 'Regular' 'low fat' 'LF' 'reg']
Outlet_Size ['Medium' nan 'High' 'Small']

In [48]:
# Unify cat_cols values
def fat_content(v):
    if v in ['Low Fat', 'LF']:
        return 'low fat'
    elif v in ['reg', 'Regular']:
        return 'regular'
    else:
        return np.nan

def outlet_size(size):
    if size == 'Small':
        return 0
    elif size == 'Medium':
        return 1
    elif size == 'High':
        return 2
    else:
        return np.nan
    
def outlet_type(t):
    if t == 'Supermarket Type1':
        return 1
    elif t == 'Supermarket Type2':
        return 2
    elif t == 'Supermarket Type3':
        return 3
    else:
        return 0
X_train['Item_Fat_Content'] = X_train['Item_Fat_Content'].apply(fat_content)
X_train['Outlet_Size'] = X_train['Outlet_Size'].apply(outlet_size)
X_train['Outlet_Type'] = X_train['Outlet_Type'].apply(outlet_type)
X_test['Item_Fat_Content'] = X_test['Item_Fat_Content'].apply(fat_content)
X_test['Outlet_Size'] = X_test['Outlet_Size'].apply(outlet_size)
X_test['Outlet_Type'] = X_test['Outlet_Type'].apply(outlet_type)

In [49]:
# Retrive num_cols and cat_cols
num_cols = X_train._get_numeric_data().columns
cat_cols = list(set(X_train.columns) - set(num_cols))

In [50]:
# Verify the columns
print('cat')
for cat_col in cat_cols:
    print(cat_col, X_train[cat_col].unique())

cat
Item_Fat_Content ['low fat' 'regular' nan]
Item_Type ['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']
Outlet_Location_Type ['Tier 1' 'Tier 3' 'Tier 2']

In [51]:
# Impute cat_cols
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='most_frequent')
X_train[cat_cols] = si.fit_transform(X_train[cat_cols])
X_test[cat_cols] = si.fit_transform(X_test[cat_cols])

In [52]:
# Encode cat_cols
from sklearn.preprocessing import OrdinalEncoder
X_train = pd.get_dummies(data=X_train, columns=['Item_Type'], drop_first=True)
X_test = pd.get_dummies(data=X_test, columns=['Item_Type'], drop_first=True)
oe = OrdinalEncoder()
X_train[['Outlet_Location_Type', 'Item_Fat_Content']] = oe.fit_transform(X_train[['Outlet_Location_Type', 'Item_Fat_Content']])
X_test[['Outlet_Location_Type', 'Item_Fat_Content']] = oe.fit_transform(X_test[['Outlet_Location_Type', 'Item_Fat_Content']])

In [53]:
# Have a look at the current columns
X_train.columns

Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_MRP',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Type_Breads', 'Item_Type_Breakfast',
       'Item_Type_Canned', 'Item_Type_Dairy', 'Item_Type_Frozen Foods',
       'Item_Type_Fruits and Vegetables', 'Item_Type_Hard Drinks',
       'Item_Type_Health and Hygiene', 'Item_Type_Household', 'Item_Type_Meat',
       'Item_Type_Others', 'Item_Type_Seafood', 'Item_Type_Snack Foods',
       'Item_Type_Soft Drinks', 'Item_Type_Starchy Foods'],
      dtype='object')

In [54]:
# This is the module I wrote included in folder 'package'
# Test for the best imputation algorithm for num_cols
DataScience.test_imputations(X_train, y_train, num_cols)

Imputing row 1/8523 with 0 missing, elapsed time: 11.969
Imputing row 101/8523 with 1 missing, elapsed time: 11.973
Imputing row 201/8523 with 1 missing, elapsed time: 11.977
Imputing row 301/8523 with 1 missing, elapsed time: 11.981
Imputing row 401/8523 with 1 missing, elapsed time: 11.985
Imputing row 501/8523 with 1 missing, elapsed time: 11.988
Imputing row 601/8523 with 0 missing, elapsed time: 11.992
Imputing row 701/8523 with 1 missing, elapsed time: 11.996
Imputing row 801/8523 with 0 missing, elapsed time: 11.999
Imputing row 901/8523 with 1 missing, elapsed time: 12.002
Imputing row 1001/8523 with 1 missing, elapsed time: 12.006
Imputing row 1101/8523 with 1 missing, elapsed time: 12.010
Imputing row 1201/8523 with 0 missing, elapsed time: 12.014
Imputing row 1301/8523 with 0 missing, elapsed time: 12.018
Imputing row 1401/8523 with 1 missing, elapsed time: 12.021
Imputing row 1501/8523 with 0 missing, elapsed time: 12.025
Imputing row 1601/8523 with 1 missing, elapsed time: 12.029
Imputing row 1701/8523 with 1 missing, elapsed time: 12.031
Imputing row 1801/8523 with 1 missing, elapsed time: 12.035
Imputing row 1901/8523 with 0 missing, elapsed time: 12.038
Imputing row 2001/8523 with 0 missing, elapsed time: 12.042
Imputing row 2101/8523 with 1 missing, elapsed time: 12.046
Imputing row 2201/8523 with 1 missing, elapsed time: 12.049
Imputing row 2301/8523 with 0 missing, elapsed time: 12.053
Imputing row 2401/8523 with 1 missing, elapsed time: 12.056
Imputing row 2501/8523 with 1 missing, elapsed time: 12.060
Imputing row 2601/8523 with 1 missing, elapsed time: 12.063
Imputing row 2701/8523 with 1 missing, elapsed time: 12.066
Imputing row 2801/8523 with 1 missing, elapsed time: 12.069
Imputing row 2901/8523 with 0 missing, elapsed time: 12.072
Imputing row 3001/8523 with 1 missing, elapsed time: 12.076
Imputing row 3101/8523 with 1 missing, elapsed time: 12.080
Imputing row 3201/8523 with 0 missing, elapsed time: 12.083
Imputing row 3301/8523 with 0 missing, elapsed time: 12.086
Imputing row 3401/8523 with 0 missing, elapsed time: 12.090
Imputing row 3501/8523 with 0 missing, elapsed time: 12.094
Imputing row 3601/8523 with 0 missing, elapsed time: 12.097
Imputing row 3701/8523 with 1 missing, elapsed time: 12.100
Imputing row 3801/8523 with 1 missing, elapsed time: 12.104
Imputing row 3901/8523 with 0 missing, elapsed time: 12.107
Imputing row 4001/8523 with 1 missing, elapsed time: 12.110
Imputing row 4101/8523 with 0 missing, elapsed time: 12.114
Imputing row 4201/8523 with 0 missing, elapsed time: 12.117
Imputing row 4301/8523 with 1 missing, elapsed time: 12.120
Imputing row 4401/8523 with 0 missing, elapsed time: 12.124
Imputing row 4501/8523 with 1 missing, elapsed time: 12.127
Imputing row 4601/8523 with 1 missing, elapsed time: 12.131
Imputing row 4701/8523 with 1 missing, elapsed time: 12.135
Imputing row 4801/8523 with 1 missing, elapsed time: 12.138
Imputing row 4901/8523 with 0 missing, elapsed time: 12.142
Imputing row 5001/8523 with 0 missing, elapsed time: 12.145
Imputing row 5101/8523 with 0 missing, elapsed time: 12.148
Imputing row 5201/8523 with 1 missing, elapsed time: 12.152
Imputing row 5301/8523 with 0 missing, elapsed time: 12.156
Imputing row 5401/8523 with 1 missing, elapsed time: 12.160
Imputing row 5501/8523 with 1 missing, elapsed time: 12.165
Imputing row 5601/8523 with 0 missing, elapsed time: 12.169
Imputing row 5701/8523 with 0 missing, elapsed time: 12.173
Imputing row 5801/8523 with 1 missing, elapsed time: 12.177
Imputing row 5901/8523 with 1 missing, elapsed time: 12.182
Imputing row 6001/8523 with 1 missing, elapsed time: 12.186
Imputing row 6101/8523 with 1 missing, elapsed time: 12.189
Imputing row 6201/8523 with 0 missing, elapsed time: 12.193
Imputing row 6301/8523 with 0 missing, elapsed time: 12.196
Imputing row 6401/8523 with 1 missing, elapsed time: 12.200
Imputing row 6501/8523 with 1 missing, elapsed time: 12.203
Imputing row 6601/8523 with 0 missing, elapsed time: 12.207
Imputing row 6701/8523 with 0 missing, elapsed time: 12.211
Imputing row 6801/8523 with 0 missing, elapsed time: 12.214
Imputing row 6901/8523 with 1 missing, elapsed time: 12.217
Imputing row 7001/8523 with 0 missing, elapsed time: 12.222
Imputing row 7101/8523 with 1 missing, elapsed time: 12.226
Imputing row 7201/8523 with 0 missing, elapsed time: 12.229
Imputing row 7301/8523 with 0 missing, elapsed time: 12.233
Imputing row 7401/8523 with 1 missing, elapsed time: 12.237
Imputing row 7501/8523 with 0 missing, elapsed time: 12.240
Imputing row 7601/8523 with 0 missing, elapsed time: 12.244
Imputing row 7701/8523 with 0 missing, elapsed time: 12.247
Imputing row 7801/8523 with 0 missing, elapsed time: 12.250
Imputing row 7901/8523 with 0 missing, elapsed time: 12.254
Imputing row 8001/8523 with 1 missing, elapsed time: 12.257
Imputing row 8101/8523 with 0 missing, elapsed time: 12.260
Imputing row 8201/8523 with 1 missing, elapsed time: 12.264
Imputing row 8301/8523 with 0 missing, elapsed time: 12.268
Imputing row 8401/8523 with 1 missing, elapsed time: 12.271
Imputing row 8501/8523 with 1 missing, elapsed time: 12.275
                   Mean    Median  Iterative       KNN
R_squared_adj  0.487468  0.487477   0.487475  0.487511

We can see that KNN yields the best Adjusted R Squared score

In [55]:
# Test for the best k neighors in KNN for num_cols
DataScience.test_KNN_imputation(X_train, y_train, num_cols, range(2, 10))

Imputing row 1/8523 with 0 missing, elapsed time: 12.019
Imputing row 101/8523 with 1 missing, elapsed time: 12.022
Imputing row 201/8523 with 1 missing, elapsed time: 12.026
Imputing row 301/8523 with 1 missing, elapsed time: 12.030
Imputing row 401/8523 with 1 missing, elapsed time: 12.034
Imputing row 501/8523 with 1 missing, elapsed time: 12.037
Imputing row 601/8523 with 0 missing, elapsed time: 12.041
Imputing row 701/8523 with 1 missing, elapsed time: 12.044
Imputing row 801/8523 with 0 missing, elapsed time: 12.047
Imputing row 901/8523 with 1 missing, elapsed time: 12.051
Imputing row 1001/8523 with 1 missing, elapsed time: 12.055
Imputing row 1101/8523 with 1 missing, elapsed time: 12.058
Imputing row 1201/8523 with 0 missing, elapsed time: 12.062
Imputing row 1301/8523 with 0 missing, elapsed time: 12.066
Imputing row 1401/8523 with 1 missing, elapsed time: 12.069
Imputing row 1501/8523 with 0 missing, elapsed time: 12.073
Imputing row 1601/8523 with 1 missing, elapsed time: 12.076
Imputing row 1701/8523 with 1 missing, elapsed time: 12.079
Imputing row 1801/8523 with 1 missing, elapsed time: 12.082
Imputing row 1901/8523 with 0 missing, elapsed time: 12.086
Imputing row 2001/8523 with 0 missing, elapsed time: 12.089
Imputing row 2101/8523 with 1 missing, elapsed time: 12.093
Imputing row 2201/8523 with 1 missing, elapsed time: 12.096
Imputing row 2301/8523 with 0 missing, elapsed time: 12.100
Imputing row 2401/8523 with 1 missing, elapsed time: 12.103
Imputing row 2501/8523 with 1 missing, elapsed time: 12.107
Imputing row 2601/8523 with 1 missing, elapsed time: 12.110
Imputing row 2701/8523 with 1 missing, elapsed time: 12.113
Imputing row 2801/8523 with 1 missing, elapsed time: 12.116
Imputing row 2901/8523 with 0 missing, elapsed time: 12.120
Imputing row 3001/8523 with 1 missing, elapsed time: 12.123
Imputing row 3101/8523 with 1 missing, elapsed time: 12.127
Imputing row 3201/8523 with 0 missing, elapsed time: 12.130
Imputing row 3301/8523 with 0 missing, elapsed time: 12.133
Imputing row 3401/8523 with 0 missing, elapsed time: 12.136
Imputing row 3501/8523 with 0 missing, elapsed time: 12.140
Imputing row 3601/8523 with 0 missing, elapsed time: 12.143
Imputing row 3701/8523 with 1 missing, elapsed time: 12.147
Imputing row 3801/8523 with 1 missing, elapsed time: 12.151
Imputing row 3901/8523 with 0 missing, elapsed time: 12.154
Imputing row 4001/8523 with 1 missing, elapsed time: 12.157
Imputing row 4101/8523 with 0 missing, elapsed time: 12.161
Imputing row 4201/8523 with 0 missing, elapsed time: 12.164
Imputing row 4301/8523 with 1 missing, elapsed time: 12.168
Imputing row 4401/8523 with 0 missing, elapsed time: 12.171
Imputing row 4501/8523 with 1 missing, elapsed time: 12.174
Imputing row 4601/8523 with 1 missing, elapsed time: 12.178
Imputing row 4701/8523 with 1 missing, elapsed time: 12.182
Imputing row 4801/8523 with 1 missing, elapsed time: 12.186
Imputing row 4901/8523 with 0 missing, elapsed time: 12.190
Imputing row 5001/8523 with 0 missing, elapsed time: 12.193
Imputing row 5101/8523 with 0 missing, elapsed time: 12.197
Imputing row 5201/8523 with 1 missing, elapsed time: 12.200
Imputing row 5301/8523 with 0 missing, elapsed time: 12.204
Imputing row 5401/8523 with 1 missing, elapsed time: 12.208
Imputing row 5501/8523 with 1 missing, elapsed time: 12.213
Imputing row 5601/8523 with 0 missing, elapsed time: 12.216
Imputing row 5701/8523 with 0 missing, elapsed time: 12.220
Imputing row 5801/8523 with 1 missing, elapsed time: 12.224
Imputing row 5901/8523 with 1 missing, elapsed time: 12.229
Imputing row 6001/8523 with 1 missing, elapsed time: 12.233
Imputing row 6101/8523 with 1 missing, elapsed time: 12.236
Imputing row 6201/8523 with 0 missing, elapsed time: 12.240
Imputing row 6301/8523 with 0 missing, elapsed time: 12.243
Imputing row 6401/8523 with 1 missing, elapsed time: 12.248
Imputing row 6501/8523 with 1 missing, elapsed time: 12.251
Imputing row 6601/8523 with 0 missing, elapsed time: 12.255
Imputing row 6701/8523 with 0 missing, elapsed time: 12.259
Imputing row 6801/8523 with 0 missing, elapsed time: 12.262
Imputing row 6901/8523 with 1 missing, elapsed time: 12.265
Imputing row 7001/8523 with 0 missing, elapsed time: 12.269
Imputing row 7101/8523 with 1 missing, elapsed time: 12.273
Imputing row 7201/8523 with 0 missing, elapsed time: 12.277
Imputing row 7301/8523 with 0 missing, elapsed time: 12.281
Imputing row 7401/8523 with 1 missing, elapsed time: 12.285
Imputing row 7501/8523 with 0 missing, elapsed time: 12.289
Imputing row 7601/8523 with 0 missing, elapsed time: 12.292
Imputing row 7701/8523 with 0 missing, elapsed time: 12.296
Imputing row 7801/8523 with 0 missing, elapsed time: 12.299
Imputing row 7901/8523 with 0 missing, elapsed time: 12.303
Imputing row 8001/8523 with 1 missing, elapsed time: 12.307
Imputing row 8101/8523 with 0 missing, elapsed time: 12.310
Imputing row 8201/8523 with 1 missing, elapsed time: 12.314
Imputing row 8301/8523 with 0 missing, elapsed time: 12.318
Imputing row 8401/8523 with 1 missing, elapsed time: 12.322
Imputing row 8501/8523 with 1 missing, elapsed time: 12.325
Imputing row 1/8523 with 0 missing, elapsed time: 12.777
Imputing row 101/8523 with 1 missing, elapsed time: 12.781
Imputing row 201/8523 with 1 missing, elapsed time: 12.785
Imputing row 301/8523 with 1 missing, elapsed time: 12.790
Imputing row 401/8523 with 1 missing, elapsed time: 12.794
Imputing row 501/8523 with 1 missing, elapsed time: 12.800
Imputing row 601/8523 with 0 missing, elapsed time: 12.805
Imputing row 701/8523 with 1 missing, elapsed time: 12.808
Imputing row 801/8523 with 0 missing, elapsed time: 12.813
Imputing row 901/8523 with 1 missing, elapsed time: 12.816
Imputing row 1001/8523 with 1 missing, elapsed time: 12.820
Imputing row 1101/8523 with 1 missing, elapsed time: 12.825
Imputing row 1201/8523 with 0 missing, elapsed time: 12.833
Imputing row 1301/8523 with 0 missing, elapsed time: 12.837
Imputing row 1401/8523 with 1 missing, elapsed time: 12.841
Imputing row 1501/8523 with 0 missing, elapsed time: 12.845
Imputing row 1601/8523 with 1 missing, elapsed time: 12.849
Imputing row 1701/8523 with 1 missing, elapsed time: 12.852
Imputing row 1801/8523 with 1 missing, elapsed time: 12.856
Imputing row 1901/8523 with 0 missing, elapsed time: 12.860
Imputing row 2001/8523 with 0 missing, elapsed time: 12.864
Imputing row 2101/8523 with 1 missing, elapsed time: 12.870
Imputing row 2201/8523 with 1 missing, elapsed time: 12.875
Imputing row 2301/8523 with 0 missing, elapsed time: 12.879
Imputing row 2401/8523 with 1 missing, elapsed time: 12.883
Imputing row 2501/8523 with 1 missing, elapsed time: 12.887
Imputing row 2601/8523 with 1 missing, elapsed time: 12.890
Imputing row 2701/8523 with 1 missing, elapsed time: 12.894
Imputing row 2801/8523 with 1 missing, elapsed time: 12.897
Imputing row 2901/8523 with 0 missing, elapsed time: 12.901
Imputing row 3001/8523 with 1 missing, elapsed time: 12.904
Imputing row 3101/8523 with 1 missing, elapsed time: 12.908
Imputing row 3201/8523 with 0 missing, elapsed time: 12.912
Imputing row 3301/8523 with 0 missing, elapsed time: 12.915
Imputing row 3401/8523 with 0 missing, elapsed time: 12.920
Imputing row 3501/8523 with 0 missing, elapsed time: 12.924
Imputing row 3601/8523 with 0 missing, elapsed time: 12.928
Imputing row 3701/8523 with 1 missing, elapsed time: 12.932
Imputing row 3801/8523 with 1 missing, elapsed time: 12.936
Imputing row 3901/8523 with 0 missing, elapsed time: 12.940
Imputing row 4001/8523 with 1 missing, elapsed time: 12.944
Imputing row 4101/8523 with 0 missing, elapsed time: 12.948
Imputing row 4201/8523 with 0 missing, elapsed time: 12.955
Imputing row 4301/8523 with 1 missing, elapsed time: 12.962
Imputing row 4401/8523 with 0 missing, elapsed time: 12.966
Imputing row 4501/8523 with 1 missing, elapsed time: 12.970
Imputing row 4601/8523 with 1 missing, elapsed time: 12.974
Imputing row 4701/8523 with 1 missing, elapsed time: 12.980
Imputing row 4801/8523 with 1 missing, elapsed time: 12.987
Imputing row 4901/8523 with 0 missing, elapsed time: 12.991
Imputing row 5001/8523 with 0 missing, elapsed time: 12.995
Imputing row 5101/8523 with 0 missing, elapsed time: 12.999
Imputing row 5201/8523 with 1 missing, elapsed time: 13.003
Imputing row 5301/8523 with 0 missing, elapsed time: 13.009
Imputing row 5401/8523 with 1 missing, elapsed time: 13.013
Imputing row 5501/8523 with 1 missing, elapsed time: 13.020
Imputing row 5601/8523 with 0 missing, elapsed time: 13.023
Imputing row 5701/8523 with 0 missing, elapsed time: 13.027
Imputing row 5801/8523 with 1 missing, elapsed time: 13.031
Imputing row 5901/8523 with 1 missing, elapsed time: 13.034
Imputing row 6001/8523 with 1 missing, elapsed time: 13.039
Imputing row 6101/8523 with 1 missing, elapsed time: 13.045
Imputing row 6201/8523 with 0 missing, elapsed time: 13.049
Imputing row 6301/8523 with 0 missing, elapsed time: 13.053
Imputing row 6401/8523 with 1 missing, elapsed time: 13.058
Imputing row 6501/8523 with 1 missing, elapsed time: 13.062
Imputing row 6601/8523 with 0 missing, elapsed time: 13.065
Imputing row 6701/8523 with 0 missing, elapsed time: 13.069
Imputing row 6801/8523 with 0 missing, elapsed time: 13.073
Imputing row 6901/8523 with 1 missing, elapsed time: 13.077
Imputing row 7001/8523 with 0 missing, elapsed time: 13.082
Imputing row 7101/8523 with 1 missing, elapsed time: 13.087
Imputing row 7201/8523 with 0 missing, elapsed time: 13.092
Imputing row 7301/8523 with 0 missing, elapsed time: 13.096
Imputing row 7401/8523 with 1 missing, elapsed time: 13.101
Imputing row 7501/8523 with 0 missing, elapsed time: 13.105
Imputing row 7601/8523 with 0 missing, elapsed time: 13.109
Imputing row 7701/8523 with 0 missing, elapsed time: 13.112
Imputing row 7801/8523 with 0 missing, elapsed time: 13.116
Imputing row 7901/8523 with 0 missing, elapsed time: 13.121
Imputing row 8001/8523 with 1 missing, elapsed time: 13.125
Imputing row 8101/8523 with 0 missing, elapsed time: 13.129
Imputing row 8201/8523 with 1 missing, elapsed time: 13.133
Imputing row 8301/8523 with 0 missing, elapsed time: 13.137
Imputing row 8401/8523 with 1 missing, elapsed time: 13.141
Imputing row 8501/8523 with 1 missing, elapsed time: 13.146
Imputing row 1/8523 with 0 missing, elapsed time: 12.619
Imputing row 101/8523 with 1 missing, elapsed time: 12.622
Imputing row 201/8523 with 1 missing, elapsed time: 12.626
Imputing row 301/8523 with 1 missing, elapsed time: 12.630
Imputing row 401/8523 with 1 missing, elapsed time: 12.633
Imputing row 501/8523 with 1 missing, elapsed time: 12.637
Imputing row 601/8523 with 0 missing, elapsed time: 12.641
Imputing row 701/8523 with 1 missing, elapsed time: 12.644
Imputing row 801/8523 with 0 missing, elapsed time: 12.647
Imputing row 901/8523 with 1 missing, elapsed time: 12.650
Imputing row 1001/8523 with 1 missing, elapsed time: 12.654
Imputing row 1101/8523 with 1 missing, elapsed time: 12.658
Imputing row 1201/8523 with 0 missing, elapsed time: 12.661
Imputing row 1301/8523 with 0 missing, elapsed time: 12.665
Imputing row 1401/8523 with 1 missing, elapsed time: 12.669
Imputing row 1501/8523 with 0 missing, elapsed time: 12.673
Imputing row 1601/8523 with 1 missing, elapsed time: 12.676
Imputing row 1701/8523 with 1 missing, elapsed time: 12.679
Imputing row 1801/8523 with 1 missing, elapsed time: 12.682
Imputing row 1901/8523 with 0 missing, elapsed time: 12.686
Imputing row 2001/8523 with 0 missing, elapsed time: 12.690
Imputing row 2101/8523 with 1 missing, elapsed time: 12.693
Imputing row 2201/8523 with 1 missing, elapsed time: 12.697
Imputing row 2301/8523 with 0 missing, elapsed time: 12.700
Imputing row 2401/8523 with 1 missing, elapsed time: 12.703
Imputing row 2501/8523 with 1 missing, elapsed time: 12.707
Imputing row 2601/8523 with 1 missing, elapsed time: 12.711
Imputing row 2701/8523 with 1 missing, elapsed time: 12.713
Imputing row 2801/8523 with 1 missing, elapsed time: 12.716
Imputing row 2901/8523 with 0 missing, elapsed time: 12.720
Imputing row 3001/8523 with 1 missing, elapsed time: 12.723
Imputing row 3101/8523 with 1 missing, elapsed time: 12.727
Imputing row 3201/8523 with 0 missing, elapsed time: 12.730
Imputing row 3301/8523 with 0 missing, elapsed time: 12.734
Imputing row 3401/8523 with 0 missing, elapsed time: 12.737
Imputing row 3501/8523 with 0 missing, elapsed time: 12.741
Imputing row 3601/8523 with 0 missing, elapsed time: 12.744
Imputing row 3701/8523 with 1 missing, elapsed time: 12.748
Imputing row 3801/8523 with 1 missing, elapsed time: 12.752
Imputing row 3901/8523 with 0 missing, elapsed time: 12.755
Imputing row 4001/8523 with 1 missing, elapsed time: 12.758
Imputing row 4101/8523 with 0 missing, elapsed time: 12.762
Imputing row 4201/8523 with 0 missing, elapsed time: 12.766
Imputing row 4301/8523 with 1 missing, elapsed time: 12.769
Imputing row 4401/8523 with 0 missing, elapsed time: 12.773
Imputing row 4501/8523 with 1 missing, elapsed time: 12.776
Imputing row 4601/8523 with 1 missing, elapsed time: 12.780
Imputing row 4701/8523 with 1 missing, elapsed time: 12.784
Imputing row 4801/8523 with 1 missing, elapsed time: 12.788
Imputing row 4901/8523 with 0 missing, elapsed time: 12.791
Imputing row 5001/8523 with 0 missing, elapsed time: 12.794
Imputing row 5101/8523 with 0 missing, elapsed time: 12.799
Imputing row 5201/8523 with 1 missing, elapsed time: 12.802
Imputing row 5301/8523 with 0 missing, elapsed time: 12.806
Imputing row 5401/8523 with 1 missing, elapsed time: 12.810
Imputing row 5501/8523 with 1 missing, elapsed time: 12.814
Imputing row 5601/8523 with 0 missing, elapsed time: 12.818
Imputing row 5701/8523 with 0 missing, elapsed time: 12.822
Imputing row 5801/8523 with 1 missing, elapsed time: 12.826
Imputing row 5901/8523 with 1 missing, elapsed time: 12.830
Imputing row 6001/8523 with 1 missing, elapsed time: 12.833
Imputing row 6101/8523 with 1 missing, elapsed time: 12.837
Imputing row 6201/8523 with 0 missing, elapsed time: 12.841
Imputing row 6301/8523 with 0 missing, elapsed time: 12.844
Imputing row 6401/8523 with 1 missing, elapsed time: 12.848
Imputing row 6501/8523 with 1 missing, elapsed time: 12.851
Imputing row 6601/8523 with 0 missing, elapsed time: 12.855
Imputing row 6701/8523 with 0 missing, elapsed time: 12.859
Imputing row 6801/8523 with 0 missing, elapsed time: 12.862
Imputing row 6901/8523 with 1 missing, elapsed time: 12.865
Imputing row 7001/8523 with 0 missing, elapsed time: 12.869
Imputing row 7101/8523 with 1 missing, elapsed time: 12.873
Imputing row 7201/8523 with 0 missing, elapsed time: 12.877
Imputing row 7301/8523 with 0 missing, elapsed time: 12.881
Imputing row 7401/8523 with 1 missing, elapsed time: 12.884
Imputing row 7501/8523 with 0 missing, elapsed time: 12.889
Imputing row 7601/8523 with 0 missing, elapsed time: 12.892
Imputing row 7701/8523 with 0 missing, elapsed time: 12.895
Imputing row 7801/8523 with 0 missing, elapsed time: 12.899
Imputing row 7901/8523 with 0 missing, elapsed time: 12.903
Imputing row 8001/8523 with 1 missing, elapsed time: 12.906
Imputing row 8101/8523 with 0 missing, elapsed time: 12.910
Imputing row 8201/8523 with 1 missing, elapsed time: 12.913
Imputing row 8301/8523 with 0 missing, elapsed time: 12.917
Imputing row 8401/8523 with 1 missing, elapsed time: 12.921
Imputing row 8501/8523 with 1 missing, elapsed time: 12.925
Imputing row 1/8523 with 0 missing, elapsed time: 12.485
Imputing row 101/8523 with 1 missing, elapsed time: 12.489
Imputing row 201/8523 with 1 missing, elapsed time: 12.493
Imputing row 301/8523 with 1 missing, elapsed time: 12.497
Imputing row 401/8523 with 1 missing, elapsed time: 12.501
Imputing row 501/8523 with 1 missing, elapsed time: 12.504
Imputing row 601/8523 with 0 missing, elapsed time: 12.509
Imputing row 701/8523 with 1 missing, elapsed time: 12.512
Imputing row 801/8523 with 0 missing, elapsed time: 12.515
Imputing row 901/8523 with 1 missing, elapsed time: 12.519
Imputing row 1001/8523 with 1 missing, elapsed time: 12.523
Imputing row 1101/8523 with 1 missing, elapsed time: 12.527
Imputing row 1201/8523 with 0 missing, elapsed time: 12.531
Imputing row 1301/8523 with 0 missing, elapsed time: 12.534
Imputing row 1401/8523 with 1 missing, elapsed time: 12.538
Imputing row 1501/8523 with 0 missing, elapsed time: 12.542
Imputing row 1601/8523 with 1 missing, elapsed time: 12.546
Imputing row 1701/8523 with 1 missing, elapsed time: 12.549
Imputing row 1801/8523 with 1 missing, elapsed time: 12.552
Imputing row 1901/8523 with 0 missing, elapsed time: 12.556
Imputing row 2001/8523 with 0 missing, elapsed time: 12.560
Imputing row 2101/8523 with 1 missing, elapsed time: 12.564
Imputing row 2201/8523 with 1 missing, elapsed time: 12.568
Imputing row 2301/8523 with 0 missing, elapsed time: 12.571
Imputing row 2401/8523 with 1 missing, elapsed time: 12.575
Imputing row 2501/8523 with 1 missing, elapsed time: 12.579
Imputing row 2601/8523 with 1 missing, elapsed time: 12.582
Imputing row 2701/8523 with 1 missing, elapsed time: 12.585
Imputing row 2801/8523 with 1 missing, elapsed time: 12.589
Imputing row 2901/8523 with 0 missing, elapsed time: 12.592
Imputing row 3001/8523 with 1 missing, elapsed time: 12.596
Imputing row 3101/8523 with 1 missing, elapsed time: 12.600
Imputing row 3201/8523 with 0 missing, elapsed time: 12.603
Imputing row 3301/8523 with 0 missing, elapsed time: 12.606
Imputing row 3401/8523 with 0 missing, elapsed time: 12.610
Imputing row 3501/8523 with 0 missing, elapsed time: 12.614
Imputing row 3601/8523 with 0 missing, elapsed time: 12.617
Imputing row 3701/8523 with 1 missing, elapsed time: 12.622
Imputing row 3801/8523 with 1 missing, elapsed time: 12.626
Imputing row 3901/8523 with 0 missing, elapsed time: 12.629
Imputing row 4001/8523 with 1 missing, elapsed time: 12.632
Imputing row 4101/8523 with 0 missing, elapsed time: 12.636
Imputing row 4201/8523 with 0 missing, elapsed time: 12.640
Imputing row 4301/8523 with 1 missing, elapsed time: 12.643
Imputing row 4401/8523 with 0 missing, elapsed time: 12.647
Imputing row 4501/8523 with 1 missing, elapsed time: 12.651
Imputing row 4601/8523 with 1 missing, elapsed time: 12.655
Imputing row 4701/8523 with 1 missing, elapsed time: 12.659
Imputing row 4801/8523 with 1 missing, elapsed time: 12.663
Imputing row 4901/8523 with 0 missing, elapsed time: 12.666
Imputing row 5001/8523 with 0 missing, elapsed time: 12.670
Imputing row 5101/8523 with 0 missing, elapsed time: 12.673
Imputing row 5201/8523 with 1 missing, elapsed time: 12.677
Imputing row 5301/8523 with 0 missing, elapsed time: 12.681
Imputing row 5401/8523 with 1 missing, elapsed time: 12.684
Imputing row 5501/8523 with 1 missing, elapsed time: 12.689
Imputing row 5601/8523 with 0 missing, elapsed time: 12.693
Imputing row 5701/8523 with 0 missing, elapsed time: 12.696
Imputing row 5801/8523 with 1 missing, elapsed time: 12.700
Imputing row 5901/8523 with 1 missing, elapsed time: 12.703
Imputing row 6001/8523 with 1 missing, elapsed time: 12.706
Imputing row 6101/8523 with 1 missing, elapsed time: 12.710
Imputing row 6201/8523 with 0 missing, elapsed time: 12.713
Imputing row 6301/8523 with 0 missing, elapsed time: 12.717
Imputing row 6401/8523 with 1 missing, elapsed time: 12.720
Imputing row 6501/8523 with 1 missing, elapsed time: 12.723
Imputing row 6601/8523 with 0 missing, elapsed time: 12.727
Imputing row 6701/8523 with 0 missing, elapsed time: 12.730
Imputing row 6801/8523 with 0 missing, elapsed time: 12.734
Imputing row 6901/8523 with 1 missing, elapsed time: 12.737
Imputing row 7001/8523 with 0 missing, elapsed time: 12.741
Imputing row 7101/8523 with 1 missing, elapsed time: 12.745
Imputing row 7201/8523 with 0 missing, elapsed time: 12.749
Imputing row 7301/8523 with 0 missing, elapsed time: 12.752
Imputing row 7401/8523 with 1 missing, elapsed time: 12.756
Imputing row 7501/8523 with 0 missing, elapsed time: 12.760

The best k neighbors is 2

In [56]:
# Impute num_cols
from fancyimpute import KNN
ii = KNN(2)
X_train[num_cols] = ii.fit_transform(X_train[num_cols])
X_test[num_cols] = ii.fit_transform(X_test[num_cols])

Imputing row 1/8523 with 0 missing, elapsed time: 12.464
Imputing row 101/8523 with 1 missing, elapsed time: 12.467
Imputing row 201/8523 with 1 missing, elapsed time: 12.471
Imputing row 301/8523 with 1 missing, elapsed time: 12.475
Imputing row 401/8523 with 1 missing, elapsed time: 12.479
Imputing row 501/8523 with 1 missing, elapsed time: 12.483
Imputing row 601/8523 with 0 missing, elapsed time: 12.487
Imputing row 701/8523 with 1 missing, elapsed time: 12.490
Imputing row 801/8523 with 0 missing, elapsed time: 12.494
Imputing row 901/8523 with 1 missing, elapsed time: 12.497
Imputing row 1001/8523 with 1 missing, elapsed time: 12.501
Imputing row 1101/8523 with 1 missing, elapsed time: 12.505
Imputing row 1201/8523 with 0 missing, elapsed time: 12.508
Imputing row 1301/8523 with 0 missing, elapsed time: 12.512
Imputing row 1401/8523 with 1 missing, elapsed time: 12.515
Imputing row 1501/8523 with 0 missing, elapsed time: 12.519
Imputing row 1601/8523 with 1 missing, elapsed time: 12.523
Imputing row 1701/8523 with 1 missing, elapsed time: 12.526
Imputing row 1801/8523 with 1 missing, elapsed time: 12.529
Imputing row 1901/8523 with 0 missing, elapsed time: 12.533
Imputing row 2001/8523 with 0 missing, elapsed time: 12.537
Imputing row 2101/8523 with 1 missing, elapsed time: 12.543
Imputing row 2201/8523 with 1 missing, elapsed time: 12.547
Imputing row 2301/8523 with 0 missing, elapsed time: 12.551
Imputing row 2401/8523 with 1 missing, elapsed time: 12.556
Imputing row 2501/8523 with 1 missing, elapsed time: 12.560
Imputing row 2601/8523 with 1 missing, elapsed time: 12.563
Imputing row 2701/8523 with 1 missing, elapsed time: 12.567
Imputing row 2801/8523 with 1 missing, elapsed time: 12.571
Imputing row 2901/8523 with 0 missing, elapsed time: 12.575
Imputing row 3001/8523 with 1 missing, elapsed time: 12.579
Imputing row 3101/8523 with 1 missing, elapsed time: 12.582
Imputing row 3201/8523 with 0 missing, elapsed time: 12.585
Imputing row 3301/8523 with 0 missing, elapsed time: 12.589
Imputing row 3401/8523 with 0 missing, elapsed time: 12.592
Imputing row 3501/8523 with 0 missing, elapsed time: 12.597
Imputing row 3601/8523 with 0 missing, elapsed time: 12.600
Imputing row 3701/8523 with 1 missing, elapsed time: 12.604
Imputing row 3801/8523 with 1 missing, elapsed time: 12.608
Imputing row 3901/8523 with 0 missing, elapsed time: 12.612
Imputing row 4001/8523 with 1 missing, elapsed time: 12.615
Imputing row 4101/8523 with 0 missing, elapsed time: 12.619
Imputing row 4201/8523 with 0 missing, elapsed time: 12.624
Imputing row 4301/8523 with 1 missing, elapsed time: 12.627
Imputing row 4401/8523 with 0 missing, elapsed time: 12.631
Imputing row 4501/8523 with 1 missing, elapsed time: 12.635
Imputing row 4601/8523 with 1 missing, elapsed time: 12.639
Imputing row 4701/8523 with 1 missing, elapsed time: 12.643
Imputing row 4801/8523 with 1 missing, elapsed time: 12.647
Imputing row 4901/8523 with 0 missing, elapsed time: 12.651
Imputing row 5001/8523 with 0 missing, elapsed time: 12.656
Imputing row 5101/8523 with 0 missing, elapsed time: 12.659
Imputing row 5201/8523 with 1 missing, elapsed time: 12.663
Imputing row 5301/8523 with 0 missing, elapsed time: 12.678
Imputing row 5401/8523 with 1 missing, elapsed time: 12.682
Imputing row 5501/8523 with 1 missing, elapsed time: 12.689
Imputing row 5601/8523 with 0 missing, elapsed time: 12.694
Imputing row 5701/8523 with 0 missing, elapsed time: 12.702
Imputing row 5801/8523 with 1 missing, elapsed time: 12.709
Imputing row 5901/8523 with 1 missing, elapsed time: 12.713
Imputing row 6001/8523 with 1 missing, elapsed time: 12.717
Imputing row 6101/8523 with 1 missing, elapsed time: 12.721
Imputing row 6201/8523 with 0 missing, elapsed time: 12.725
Imputing row 6301/8523 with 0 missing, elapsed time: 12.729
Imputing row 6401/8523 with 1 missing, elapsed time: 12.733
Imputing row 6501/8523 with 1 missing, elapsed time: 12.736
Imputing row 6601/8523 with 0 missing, elapsed time: 12.748
Imputing row 6701/8523 with 0 missing, elapsed time: 12.752
Imputing row 6801/8523 with 0 missing, elapsed time: 12.757
Imputing row 6901/8523 with 1 missing, elapsed time: 12.761
Imputing row 7001/8523 with 0 missing, elapsed time: 12.765
Imputing row 7101/8523 with 1 missing, elapsed time: 12.772
Imputing row 7201/8523 with 0 missing, elapsed time: 12.776
Imputing row 7301/8523 with 0 missing, elapsed time: 12.780
Imputing row 7401/8523 with 1 missing, elapsed time: 12.789
Imputing row 7501/8523 with 0 missing, elapsed time: 12.792
Imputing row 7601/8523 with 0 missing, elapsed time: 12.797
Imputing row 7701/8523 with 0 missing, elapsed time: 12.801
Imputing row 7801/8523 with 0 missing, elapsed time: 12.806
Imputing row 7901/8523 with 0 missing, elapsed time: 12.811
Imputing row 8001/8523 with 1 missing, elapsed time: 12.814
Imputing row 8101/8523 with 0 missing, elapsed time: 12.817
Imputing row 8201/8523 with 1 missing, elapsed time: 12.831
Imputing row 8301/8523 with 0 missing, elapsed time: 12.836
Imputing row 8401/8523 with 1 missing, elapsed time: 12.841
Imputing row 8501/8523 with 1 missing, elapsed time: 12.846
Imputing row 1/5681 with 0 missing, elapsed time: 5.591
Imputing row 101/5681 with 0 missing, elapsed time: 5.594
Imputing row 201/5681 with 1 missing, elapsed time: 5.597
Imputing row 301/5681 with 1 missing, elapsed time: 5.600
Imputing row 401/5681 with 0 missing, elapsed time: 5.603
Imputing row 501/5681 with 0 missing, elapsed time: 5.606
Imputing row 601/5681 with 1 missing, elapsed time: 5.609
Imputing row 701/5681 with 0 missing, elapsed time: 5.612
Imputing row 801/5681 with 1 missing, elapsed time: 5.615
Imputing row 901/5681 with 0 missing, elapsed time: 5.617
Imputing row 1001/5681 with 1 missing, elapsed time: 5.620
Imputing row 1101/5681 with 0 missing, elapsed time: 5.623
Imputing row 1201/5681 with 0 missing, elapsed time: 5.626
Imputing row 1301/5681 with 1 missing, elapsed time: 5.628
Imputing row 1401/5681 with 1 missing, elapsed time: 5.631
Imputing row 1501/5681 with 1 missing, elapsed time: 5.634
Imputing row 1601/5681 with 1 missing, elapsed time: 5.636
Imputing row 1701/5681 with 0 missing, elapsed time: 5.639
Imputing row 1801/5681 with 0 missing, elapsed time: 5.641
Imputing row 1901/5681 with 0 missing, elapsed time: 5.644
Imputing row 2001/5681 with 0 missing, elapsed time: 5.647
Imputing row 2101/5681 with 0 missing, elapsed time: 5.650
Imputing row 2201/5681 with 1 missing, elapsed time: 5.652
Imputing row 2301/5681 with 0 missing, elapsed time: 5.655
Imputing row 2401/5681 with 0 missing, elapsed time: 5.659
Imputing row 2501/5681 with 0 missing, elapsed time: 5.662
Imputing row 2601/5681 with 1 missing, elapsed time: 5.663
Imputing row 2701/5681 with 1 missing, elapsed time: 5.667
Imputing row 2801/5681 with 0 missing, elapsed time: 5.670
Imputing row 2901/5681 with 0 missing, elapsed time: 5.673
Imputing row 3001/5681 with 1 missing, elapsed time: 5.676
Imputing row 3101/5681 with 0 missing, elapsed time: 5.679
Imputing row 3201/5681 with 1 missing, elapsed time: 5.682
Imputing row 3301/5681 with 0 missing, elapsed time: 5.685
Imputing row 3401/5681 with 1 missing, elapsed time: 5.687
Imputing row 3501/5681 with 1 missing, elapsed time: 5.690
Imputing row 3601/5681 with 1 missing, elapsed time: 5.692
Imputing row 3701/5681 with 0 missing, elapsed time: 5.695
Imputing row 3801/5681 with 0 missing, elapsed time: 5.697
Imputing row 3901/5681 with 0 missing, elapsed time: 5.700
Imputing row 4001/5681 with 1 missing, elapsed time: 5.702
Imputing row 4101/5681 with 1 missing, elapsed time: 5.706
Imputing row 4201/5681 with 0 missing, elapsed time: 5.709
Imputing row 4301/5681 with 1 missing, elapsed time: 5.712
Imputing row 4401/5681 with 0 missing, elapsed time: 5.714
Imputing row 4501/5681 with 1 missing, elapsed time: 5.717
Imputing row 4601/5681 with 0 missing, elapsed time: 5.719
Imputing row 4701/5681 with 1 missing, elapsed time: 5.722
Imputing row 4801/5681 with 1 missing, elapsed time: 5.725
Imputing row 4901/5681 with 0 missing, elapsed time: 5.728
Imputing row 5001/5681 with 1 missing, elapsed time: 5.731
Imputing row 5101/5681 with 0 missing, elapsed time: 5.734
Imputing row 5201/5681 with 1 missing, elapsed time: 5.737
Imputing row 5301/5681 with 1 missing, elapsed time: 5.739
Imputing row 5401/5681 with 1 missing, elapsed time: 5.743
Imputing row 5501/5681 with 0 missing, elapsed time: 5.745
Imputing row 5601/5681 with 1 missing, elapsed time: 5.748

In [57]:
# Scale num_cols
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
num_scaled = sc.fit_transform(X_train[num_cols])
X_train[num_cols] = pd.DataFrame(num_scaled, index=X_train.index, columns=num_cols)
num_scaled = sc.fit_transform(X_test[num_cols])
X_test[num_cols] = pd.DataFrame(num_scaled, index=X_test.index, columns=num_cols)

In [58]:
# Verify X_train
X_train.head()

,,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Type_Breads,Item_Type_Breakfast,...,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,Item_Type_Health and Hygiene,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods
Item_Identifier,Outlet_Identifier,,,,,,,,,,,,,,,,,,,,,
FDA15,OUT049,-0.803677,0.0,-0.970732,1.747454,0.139541,0.480400,0.0,-0.252658,0,0,...,0,0,0,0,0,0,0,0,0,0
DRC01,OUT018,-1.561878,1.0,-0.908111,-1.489023,1.334103,0.480400,2.0,1.002972,0,0,...,0,0,0,0,0,0,0,0,1,0
FDN15,OUT049,1.035744,0.0,-0.956917,0.010040,0.139541,0.480400,0.0,-0.252658,0,0,...,0,0,0,0,1,0,0,0,0,0
FDX07,OUT010,1.417088,1.0,-1.281758,0.660050,0.020085,-0.231304,2.0,-1.508289,0,0,...,1,0,0,0,0,0,0,0,0,0
NCD19,OUT013,-0.886676,0.0,-1.281758,-1.399220,-1.293934,2.019415,2.0,-0.252658,0,0,...,0,0,0,1,0,0,0,0,0,0

In [59]:
# Import XGBGeressor and GridSearchCV libraries
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold

parameters = {
        'n_estimators': [200, 500],
        'max_features': ['auto', 'sqrt', 'log2'],
        'max_depth' : [4,5,6,7,8],
        'criterion' :['mse', 'mae']
             }
rfr = RandomForestRegressor()
xgb_grid = GridSearchCV(estimator=rfr,
                        param_grid=parameters,
                        cv = KFold(5),
                        verbose=True,
                        n_jobs = -1)
# Try fitting training data sets with all parameters
xgb_grid.fit(X_train,y_train)

# Print the best parameters
print(xgb_grid.best_params_)

Fitting 5 folds for each of 60 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   26.4s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed: 30.3min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed: 96.9min finished

{'criterion': 'mse', 'max_depth': 6, 'max_features': 'auto', 'n_estimators': 500}

In [60]:
# Fit the training tests using the best parameters
gbm = RandomForestRegressor(**xgb_grid.best_params_)
gbm.fit(X_train,y_train)

# Get the predicted values
predictions = gbm.predict(X_test)

In [61]:
# Get the index of the predicted table
index = X_test.index
predictions = pd.DataFrame(predictions, columns=['Item_Outlet_Sales'], index=index)

# saving the DataFrame as a CSV file 
csv_data = predictions.to_csv('Predictions.csv', index = True)

In [62]:
# Verify the prediction's format
print(predictions.head())

                                   Item_Outlet_Sales
Item_Identifier Outlet_Identifier
FDW58           OUT049                   1653.280812
FDW14           OUT017                   1365.826046
NCN55           OUT010                    572.994079
FDQ58           OUT017                   2486.481676
FDY38           OUT027                   6065.373986

In [ ]:
# from sklearn.pipeline import make_pipeline, Pipeline
# from sklearn.impute import SimpleImputer
# from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
# from sklearn.compose import make_column_transformer, ColumnTransformer, make_column_selector
# from sklearn.model_selection import KFold
# from fancyimpute import IterativeImputer
# from xgboost import XGBRegressor
# from sklearn.ensemble import RandomForestRegressor

# # define the data preparation for the columns
# t = [('cat_impute', SimpleImputer(strategy='most_frequent', missing_values=np.nan), cat_cols),
#      ('cat_ordinal_encode', OrdinalEncoder(), ['Outlet_Location_Type', 'Item_Fat_Content']),
#      ('cat_encode', OneHotEncoder(handle_unknown='ignore'), ['Item_Type']),
#      ('num_impute', IterativeImputer(missing_values=np.nan), num_cols), 
#      ('num_scale', StandardScaler(), num_cols)]
# col_transform = ColumnTransformer(transformers=t)

# # Create an object of XGBRegressor
# xgbr = XGBRegressor(random_state=1)

# # define the data preparation and modeling pipeline
# pipeline = Pipeline(steps=[('prep',col_transform), ('model', xgbr)])