In [10]:
import math
import pandas as pd
df = pd.read_excel('Driving.xlsx', engine='openpyxl')
df.head()

,Week,Rides,Booked time,Online time,Ride earnings,Tips,Bonuses,Cancel earnings,Tolls,Streak bonuses,Earning guarantees,Net earnings,Real earnings
0,2021-02-22,20.0,408.0,529.0,107.31,15.50,13.22,0.00,0.0,0.0,0.0,136.03,136.03
1,2021-03-08,4.0,115.0,126.0,34.13,8.07,2.70,0.00,0.0,15.0,0.0,59.90,59.90
2,2021-03-15,39.0,1165.0,1200.0,347.94,21.79,85.57,8.74,13.5,165.0,0.0,642.54,629.04
3,2021-03-22,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.00
4,2021-03-29,57.0,1319.0,1401.0,375.93,48.41,156.40,2.00,9.6,255.0,0.0,847.34,837.74

In [11]:
# Average income per hour
print(f"Average income per hour: {df['Real earnings'].sum() * 60 / df['Online time'].sum()}")
# Average income per trip
print(f"Average income per trip: {df['Real earnings'].sum() / df['Rides'].sum()}")
# Percentage of tips
print(f"Percentage of tips: {df['Tips'].sum() *100 / df['Real earnings'].sum():.2f}%")
# Percentage of cancel earnings
print(f"Percentage of cancel earnings: {df['Cancel earnings'].sum() *100 / df['Real earnings'].sum():.2f}%")
# Trips per hour
trips_per_hour = df['Rides'].sum() / (df['Booked time'].sum()/60)
print(f"Trips per hour: {trips_per_hour:.2f}")

Average income per hour: 28.16397088847789
Average income per trip: 14.518952451708769
Percentage of tips: 4.89%
Percentage of cancel earnings: 0.90%
Trips per hour: 2.42

In [12]:
def lte_trips_per_hour(n: int, mu: int) -> float:
    '''This function uses Possion distribution to find the probability of 
    receiving less than or equal to n (trips) per hour given the average mu (trips) per hour'''
    return math.e**(-mu)*sum((mu**i)/(math.factorial(i)) for i in range(n+1))
def gt_trips_per_hour(n: int, mu: int) -> float:
    '''This function uses Possion distribution to find the probability of 
    receiving greater than n (trips) per hour given the average mu (trips) per hour'''
    return 1 - lte_trips_per_hour(n, mu)

# Probability to receive more than 3 trips in one hour
print(f"{gt_trips_per_hour(3, trips_per_hour) * 100:.2f}%")

22.56%