In [8]:
# Import pandas library and the data set
import pandas as pd
import sidetable
import numpy as np
from DataScience import *
df = pd.read_csv('train_ctrUa4K.csv', index_col='Loan_ID')
X_test = pd.read_csv('test_lAUu6dG.csv', index_col='Loan_ID')

In [9]:
# Have a look at the first five rows
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [10]:
df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [11]:
# Have a look at the number of missing values in each column
df.stb.missing(style=True)

In [31]:
for i in ['Credit_History', 'Self_Employed', 'LoanAmount', 'Gender', 'Married']:
    print(df[i].unique())

[ 1.  0. nan]
['No' 'Yes' nan]
[ nan 128.  66. 120. 141. 267.  95. 158. 168. 349.  70. 109. 200. 114.
  17. 125. 100.  76. 133. 115. 104. 315. 116. 112. 151. 191. 122. 110.
  35. 201.  74. 106. 320. 144. 184.  80.  47.  75. 134.  96.  88.  44.
 286.  97. 135. 180.  99. 165. 258. 126. 312. 136. 172.  81. 187. 113.
 176. 130. 111. 167. 265.  50. 210. 175. 131. 188.  25. 137. 160. 225.
 216.  94. 139. 152. 118. 185. 154.  85. 259. 194.  93. 370. 182. 650.
 102. 290.  84. 242. 129.  30. 244. 600. 255.  98. 275. 121.  63. 700.
  87. 101. 495.  67.  73. 260. 108.  58.  48. 164. 170.  83.  90. 166.
 124.  55.  59. 127. 214. 240.  72.  60. 138.  42. 280. 140. 155. 123.
 279. 192. 304. 330. 150. 207. 436.  78.  54.  89. 143. 105. 132. 480.
  56. 159. 300. 376. 117.  71. 490. 173.  46. 228. 308. 236. 570. 380.
 296. 156. 103.  45.  65.  53. 360.  62. 218. 178. 239. 405. 148. 190.
 149. 153. 162. 230.  86. 234. 246. 500. 186. 119. 107. 209. 208. 243.
  40. 250. 311. 400. 161. 196. 324. 157. 145. 181.  26. 211.   9. 205.
  36.  61. 146. 292. 142. 350. 496. 253.]
['Male' 'Female' nan]
['No' 'Yes' nan]

In [12]:
# Retrieve num_cols and cat_cols
y_train = df.Loan_Status.copy()
X_train = df.drop(columns='Loan_Status').copy()
num_cols = X_train._get_numeric_data().columns
cat_cols = list(set(X_train.columns) - set(num_cols))

In [ ]:
# # Retrieve X and y
# X_train = df.drop(['Loan_Status'], axis=1).copy()
# y_train = df['Loan_Status'].copy()

In [ ]:
# X_train = process_sets(X_train)
# X_test = process_sets(X_test)
# best_grid, predictions = rfr_classifier(X_train, y_train, X_test)

In [ ]:
# index = X_test.index
# predictions = pd.DataFrame(predictions, columns=['Loan_Status'], index=index)

In [ ]:
# # saving the DataFrame as a CSV file 
# csv_data = predictions.to_csv('Predictions.csv', index = True)

In [ ]:
pip install category_encoders