# Import dataset

In [1]:
#Import libraries and the data set
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import DataScience
%matplotlib inline

df = pd.read_csv('insurance.csv')

In [2]:
# Have a look at the first five rows of the data set
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
# Check for any columns having missing data
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [4]:
# Have a look at the data set's info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
# Get X and y from the data set
X = df.drop(columns='charges')
y = df.charges

In [6]:
# Retrieve numeric features from columns
num_cols = list(X._get_numeric_data().columns)

# Retrieve categorical features from columns
cat_cols = list(set(X.columns) - set(num_cols))

In [7]:
# Encoding categorical columns using get_dummies embedded in pandas
X = pd.get_dummies(X, columns=cat_cols, drop_first=True)

### Split data into train and test sets

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [9]:
DataScience.test_imputations(X_train, y_train, num_cols)

Imputing row 1/1070 with 0 missing, elapsed time: 0.140
Imputing row 101/1070 with 0 missing, elapsed time: 0.141
Imputing row 201/1070 with 0 missing, elapsed time: 0.141
Imputing row 301/1070 with 0 missing, elapsed time: 0.142
Imputing row 401/1070 with 0 missing, elapsed time: 0.142
Imputing row 501/1070 with 0 missing, elapsed time: 0.142
Imputing row 601/1070 with 0 missing, elapsed time: 0.143
Imputing row 701/1070 with 0 missing, elapsed time: 0.143
Imputing row 801/1070 with 0 missing, elapsed time: 0.143
Imputing row 901/1070 with 0 missing, elapsed time: 0.144
Imputing row 1001/1070 with 0 missing, elapsed time: 0.144
                   Mean    Median  Iterative       KNN
R_squared_adj  0.113026  0.113026   0.113026  0.113026

C:\ProgramData\Anaconda3\lib\site-packages\fancyimpute-0.5.5-py3.7.egg\fancyimpute\solver.py:55: UserWarning: Input matrix is not missing any values

It's weird that all have the same performance. Hmmm...

In [10]:
# StandardScale the dataset and convert it back to dataframe type
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_scaled = sc.fit_transform(X)
X = pd.DataFrame(X_scaled, index=X.index, columns=X.columns)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [11]:
# Use RandomForestRegressor to train
predictions = DataScience.ridge_regressor(X_train, y_train, X_test)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Fitting 5 folds for each of 308 candidates, totalling 1540 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    2.9s

{'alpha': 0, 'fit_intercept': True, 'normalize': False, 'solver': 'sag'}
Score: 0.75

[Parallel(n_jobs=-1)]: Done 1540 out of 1540 | elapsed:    6.1s finished

In [12]:
# Print the mean square error of the predicted and the real charges values
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(predictions, y_test)
print(mse)

35486398.74393304

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)