import webbrowser

webbrowser.open('https://www.plus2net.com/python/pandas-dataframe-exercise3.php')

In [1]:
import pandas as pd

df = pd.read_excel('log_report.xlsx')

In [2]:
# 1. How many records are there for the year 2019
df[df['st_date'].dt.year == 2019].shape[0]

731

In [3]:
# 2.How many records are there for the year 2019 and Month March
df[(df['st_date'].dt.year == 2019) & (df['st_date'].dt.month == 3)].shape[0]

35

In [4]:
# 3. Show the records of log_id 28928
df[df['log_id'] == 28928]

   log_id  eqpt_id   dept    st_date  activity_type
0   28928     1720  dept6 2019-01-02  Normalization

In [5]:
# 4. When was the last inspection done for the equipment id 3320
df.query("eqpt_id == 3320 & activity_type == 'Inspection'")

     log_id  eqpt_id   dept    st_date activity_type
267   33777     3320  dept4 2019-06-17    Inspection
268   33779     3320  dept4 2019-06-19    Inspection
426   35959     3320  dept4 2019-09-02    Inspection

In [6]:
# 5. How many records are there between April 2019 and Jan 2020
df.query("'2019-04-01' <= st_date <= '2020-01-31'").shape[0]

681

In [7]:
# 6. How many days back inspection was completed for eqpt_id 3320 from today.
pd.Timestamp.today().normalize() - df.query("eqpt_id == 3320 & activity_type == 'Inspection'")['st_date'].max()

Timedelta('820 days 00:00:00')

In [8]:
# 7. Display all the records available for last 30 days (starting from today)
today = pd.Timestamp.today().normalize()
df[today - df['st_date'] <= pd.Timedelta(days=30)]

Empty DataFrame
Columns: [log_id, eqpt_id, dept, st_date, activity_type]
Index: []

In [15]:
# 8. List all records having done (st_date) on Wednesday (Weekday =2)
df[(df['st_date'].dt.day_name() == 'Wednesday') & (df['activity_type'] == 'Inspection')]

     log_id  eqpt_id   dept    st_date activity_type
9     29276     2584  dept1 2019-01-09    Inspection
13    29282     2496  dept1 2019-01-16    Inspection
34    29694     2490  dept1 2019-01-23    Inspection
37    29699     2493  dept1 2019-01-30    Inspection
63    30139     1738  dept6 2019-02-20    Inspection
..      ...      ...    ...        ...           ...
787   40451     2493  dept1 2020-01-29    Inspection
824   40856     2584  dept1 2020-02-05    Inspection
828   40862     2590  dept1 2020-02-12    Inspection
832   40868     2464  dept1 2020-02-19    Inspection
861   41424     2468  dept1 2020-02-26    Inspection

[67 rows x 5 columns]

In [18]:
# 9. Display year and number of records in that year.
df.groupby(df['st_date'].dt.year)['log_id'].count()

year
2019    731
2020    139
Name: log_id, dtype: int64

In [19]:
# 10. Display month and number of records in that month.
df.groupby(df['st_date'].dt.month)['log_id'].count()

st_date
1     111
2     106
3      41
4      52
5      50
6      59
7      75
8      71
9      68
10     98
11     77
12     62
Name: log_id, dtype: int64

In [20]:
# 11. Display Year and Month with number of records in that year month
df.groupby(df['st_date'].dt.to_period('M'))['log_id'].count()

st_date
2019-01    42
2019-02    42
2019-03    35
2019-04    52
2019-05    50
2019-06    59
2019-07    75
2019-08    71
2019-09    68
2019-10    98
2019-11    77
2019-12    62
2020-01    69
2020-02    64
2020-03     6
Freq: M, Name: log_id, dtype: int64