# Import dataset

In [1]:
#Import libraries and the data set
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import DataScience
%matplotlib inline

df = pd.read_csv('insurance.csv')

In [2]:
# Have a look at the first five rows of the data set
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
# Check for any columns having missing data
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [4]:
# Have a look at the data set's info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
# Get X and y from the data set
X = df.drop(columns='charges')
y = df.charges

In [6]:
# Retrieve numeric features from columns
num_cols = list(X._get_numeric_data().columns)

# Retrieve categorical features from columns
cat_cols = list(set(X.columns) - set(num_cols))

In [7]:
# Encoding categorical columns using get_dummies embedded in pandas
X = pd.get_dummies(X, columns=cat_cols, drop_first=True)

### Split data into train and test sets

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [9]:
DataScience.test_imputations(X_train, y_train, num_cols)

ImportError: cannot import name 'MICE' from 'fancyimpute' (C:\ProgramData\Anaconda3\lib\site-packages\fancyimpute-0.5.5-py3.7.egg\fancyimpute\__init__.py)

It's weird that all have the same performance. Hmmm...

In [ ]:
# # StandardScale the dataset and convert it back to dataframe type
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_scaled = sc.fit_transform(X)
# X = pd.DataFrame(X_scaled, index=X.index, columns=X.columns)

In [ ]:
# Use RandomForestRegressor to train
predictions = DataScience.ridge_regressor(X_train, y_train, X_test)

In [ ]:
# Print the mean square error of the predicted and the real charges values
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(predictions, y_test)
print(mse)

In [1]:
pip install numpy-1.15.2+mkl-cp36-cp36m-win_amd64.whl

Note: you may need to restart the kernel to use updated packages.

WARNING: Requirement 'numpy-1.15.2+mkl-cp36-cp36m-win_amd64.whl' looks like a filename, but the file does not exist
ERROR: numpy-1.15.2+mkl-cp36-cp36m-win_amd64.whl is not a supported wheel on this platform.