In [18]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('Population.csv')
df.drop(columns=['Indicator Name', 'Country Code', 'Indicator Code'], inplace=True)
df.set_index('Country Name')

In [22]:
pop = df[['Country Name', '2019']]

In [23]:
pop

     Country Name        2019
0           Aruba    106314.0
1     Afghanistan  38041754.0
2          Angola  31825295.0
3         Albania   2854191.0
4         Andorra     77142.0
..            ...         ...
259        Kosovo   1794248.0
260   Yemen, Rep.  29161922.0
261  South Africa  58558270.0
262        Zambia  17861030.0
263      Zimbabwe  14645468.0

[264 rows x 2 columns]