### Data sets were acquired from https://www.kaggle.com/c/titanic

In [1]:
# Import libraries and the data set
import pandas as pd
import numpy as np
import sidetable
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('train.csv', index_col=['PassengerId'])
X_test = pd.read_csv('test.csv', index_col=['PassengerId'])

In [2]:
# Have a look at the first five rows
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Column __Name__ and __Ticket__ has nothing to do with predicting __Survived__, it will be dropped

In [3]:
# Column 'Name' and 'Ticket' have nothing to do with predicting 'Survived', they will be dropped
df.drop(columns=['Name'], inplace=True)
X_test.drop(columns=['Name'], inplace=True)

In [4]:
# See the missing data in columns
df.stb.missing(style=True)

As column __Cabin__ has 77% missing values, the column will be dropped.
<br>Column __Age__ can be imputed.
<br>As column __Embarked__ has 2 missing rows, the rows will be dropped.

In [5]:
# As Pclass includes fare, I will drop 'Fare'
df.drop(columns=['Ticket', 'Cabin'], inplace=True, axis=1)

In [6]:
X_test.stb.missing(style=True)

As column __Cabin__ has 77% missing values, the column will be dropped.
<br>Column __Age__ can be imputed.
<br>As column __Fare__ has 2 missing rows, the rows will be dropped.

In [7]:
# As column Cabin is missing a lot, and column Ticket has a lot of unique values, which is hard to encode, I will drop them
X_test.drop(columns=['Ticket', 'Cabin'], axis=1, inplace=True)

In [8]:
# Recheck the missing data in columns
df.stb.missing(style=True)

In [9]:
X_test.stb.missing(style=True)

In [10]:
# Get X_train and y_train
y_train = df.Survived.copy()
X_train = df.drop(columns='Survived').copy()

In [11]:
# Retrive num_cols and cat_cols
num_cols = list(X_train._get_numeric_data().columns)
cat_cols = list(set(X_train.columns) - set(num_cols))

In [12]:
# Encode cat_cols
X_train = pd.get_dummies(data=X_train, columns=cat_cols, drop_first=True)
X_test = pd.get_dummies(data=X_test, columns=cat_cols, drop_first=True)

### As no categorical columns have missing data, there is no need to impute them

In [13]:
# Impute numeric data
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
num_imputer = IterativeImputer()
num_imputer.fit(X_train[num_cols])
X_train[num_cols] = num_imputer.transform(X_train[num_cols])
X_test[num_cols] = num_imputer.transform(X_test[num_cols])

In [14]:
def scale(X, num_cols):
    from sklearn.preprocessing import StandardScaler
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X[num_cols])
    X_scaled = pd.DataFrame(data=X_scaled, columns=num_cols, index=X.index)
    return X_scaled

In [15]:
# Scaling data
X_scaled = scale(X_train, num_cols)
X_test_scaled = scale(X_test, num_cols)

In [16]:
# Update cat_cols
cat_cols = set(X_train.columns) - set(num_cols)

In [17]:
X_train = pd.concat([X_scaled, X_train[cat_cols]], axis=1)

In [18]:
# Upsample y_train
from imblearn.combine import SMOTEENN
sampler = SMOTEENN()
X_train, y_train = sampler.fit_resample(X_train, y_train)

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, stratify=y_train)

In [20]:
X_val.shape

(131, 8)

In [21]:
y_val.shape

(131,)

In [22]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.layers import Activation, Dense, Flatten, BatchNormalization, Dropout
from tensorflow.keras.optimizers import Adam

# Create the keras tuner model.
def build_model(hp):
    hp_drop_out = hp.Float('dropout', 0, 0.5, step=0.1)
    hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])
    model = Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(Dense(units=hp.Int('units_' + str(i), min_value=32, max_value=512, step=32), activation='relu'))
#         model.add(BatchNormalization())
        model.add(Dropout(hp_drop_out))
#     model.add(Flatten())
    model.add(Dense(1, activation='sigmoid'))
    opt = Adam(learning_rate=hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4]))
    model.compile(optimizer=Adam(learning_rate=hp_learning_rate),
                loss='binary_crossentropy',
                metrics=['accuracy'])
    return model

In [23]:
'''
Credit source: 
    https://www.tensorflow.org/tutorials/keras/keras_tuner
    https://github.com/keras-team/keras-tuner/blob/master/examples/cifar10.py
'''
import kerastuner as kt

tuner = kt.Hyperband(build_model,
                     objective='val_accuracy',
                     max_epochs=16,
                     overwrite=False)

In [24]:
es = EarlyStopping(monitor='val_accuracy', verbose=0, patience=10, min_delta=1e-3)
callbacks_list = [es]

In [25]:
tuner.search(X_train, y_train, epochs=64, batch_size=32, validation_data=(X_val, y_val), callbacks=callbacks_list)

Trial 30 Complete [00h 00m 06s]
val_accuracy: 0.5343511700630188

Best val_accuracy So Far: 1.0
Total elapsed time: 00h 02m 09s
INFO:tensorflow:Oracle triggered exit

In [26]:
# Get the optimal hyperparameters
best_hps=tuner.get_best_hyperparameters(num_trials=1)[0]
model = tuner.hypermodel.build(best_hps)
history = model.fit(X_train, y_train, epochs=64, validation_split=0.2)

Epoch 1/64
14/14 [==============================] - 1s 22ms/step - loss: 0.6359 - accuracy: 0.7107 - val_loss: 0.1084 - val_accuracy: 0.9619
Epoch 2/64
14/14 [==============================] - 0s 9ms/step - loss: 0.1433 - accuracy: 0.9566 - val_loss: 0.1509 - val_accuracy: 0.9429
Epoch 3/64
14/14 [==============================] - 0s 12ms/step - loss: 0.1812 - accuracy: 0.9427 - val_loss: 0.0978 - val_accuracy: 0.9619
Epoch 4/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0970 - accuracy: 0.9570 - val_loss: 0.0671 - val_accuracy: 0.9714
Epoch 5/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1322 - accuracy: 0.9494 - val_loss: 0.0793 - val_accuracy: 0.9524
Epoch 6/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1288 - accuracy: 0.9444 - val_loss: 0.0627 - val_accuracy: 0.9619
Epoch 7/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0835 - accuracy: 0.9634 - val_loss: 0.0417 - val_accuracy: 0.9905
Epoch 8/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1140 - accuracy: 0.9373 - val_loss: 0.0622 - val_accuracy: 0.9524
Epoch 9/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1203 - accuracy: 0.9501 - val_loss: 0.0599 - val_accuracy: 0.9810
Epoch 10/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0726 - accuracy: 0.9749 - val_loss: 0.0589 - val_accuracy: 0.9619
Epoch 11/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1676 - accuracy: 0.9287 - val_loss: 0.0616 - val_accuracy: 0.9714
Epoch 12/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1458 - accuracy: 0.9533 - val_loss: 0.0743 - val_accuracy: 0.9619
Epoch 13/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0927 - accuracy: 0.9794 - val_loss: 0.0576 - val_accuracy: 0.9619
Epoch 14/64
14/14 [==============================] - 0s 7ms/step - loss: 0.2165 - accuracy: 0.9223 - val_loss: 0.0684 - val_accuracy: 0.9714
Epoch 15/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1390 - accuracy: 0.9495 - val_loss: 0.0629 - val_accuracy: 0.9619
Epoch 16/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1298 - accuracy: 0.9524 - val_loss: 0.0865 - val_accuracy: 0.9524
Epoch 17/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1158 - accuracy: 0.9601 - val_loss: 0.0898 - val_accuracy: 0.9524
Epoch 18/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1019 - accuracy: 0.9684 - val_loss: 0.0785 - val_accuracy: 0.9714
Epoch 19/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0727 - accuracy: 0.9760 - val_loss: 0.0705 - val_accuracy: 0.9619
Epoch 20/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0927 - accuracy: 0.9694 - val_loss: 0.0549 - val_accuracy: 0.9619
Epoch 21/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0475 - accuracy: 0.9838 - val_loss: 0.0409 - val_accuracy: 0.9905
Epoch 22/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0826 - accuracy: 0.9726 - val_loss: 0.0491 - val_accuracy: 0.9810
Epoch 23/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1035 - accuracy: 0.9559 - val_loss: 0.0480 - val_accuracy: 0.9905
Epoch 24/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0788 - accuracy: 0.9846 - val_loss: 0.0350 - val_accuracy: 0.9810
Epoch 25/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0450 - accuracy: 0.9860 - val_loss: 0.0366 - val_accuracy: 0.9810
Epoch 26/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0946 - accuracy: 0.9649 - val_loss: 0.0610 - val_accuracy: 0.9714
Epoch 27/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0982 - accuracy: 0.9698 - val_loss: 0.0457 - val_accuracy: 0.9810
Epoch 28/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1084 - accuracy: 0.9706 - val_loss: 0.1213 - val_accuracy: 0.9429
Epoch 29/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1161 - accuracy: 0.9555 - val_loss: 0.0515 - val_accuracy: 0.9619
Epoch 30/64
14/14 [==============================] - 0s 8ms/step - loss: 0.1018 - accuracy: 0.9782 - val_loss: 0.0726 - val_accuracy: 0.9714
Epoch 31/64
14/14 [==============================] - 0s 8ms/step - loss: 0.1441 - accuracy: 0.9674 - val_loss: 0.0516 - val_accuracy: 0.9619
Epoch 32/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0790 - accuracy: 0.9773 - val_loss: 0.0418 - val_accuracy: 0.9905
Epoch 33/64
14/14 [==============================] - 0s 8ms/step - loss: 0.1652 - accuracy: 0.9425 - val_loss: 0.0674 - val_accuracy: 0.9905
Epoch 34/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1108 - accuracy: 0.9613 - val_loss: 0.0604 - val_accuracy: 0.9905
Epoch 35/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0630 - accuracy: 0.9838 - val_loss: 0.0416 - val_accuracy: 0.9714
Epoch 36/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0815 - accuracy: 0.9741 - val_loss: 0.1232 - val_accuracy: 0.9905
Epoch 37/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0706 - accuracy: 0.9884 - val_loss: 0.2250 - val_accuracy: 0.9714
Epoch 38/64
14/14 [==============================] - 0s 8ms/step - loss: 0.1181 - accuracy: 0.9787 - val_loss: 0.0365 - val_accuracy: 0.9905
Epoch 39/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0973 - accuracy: 0.9677 - val_loss: 0.0431 - val_accuracy: 0.9905
Epoch 40/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1203 - accuracy: 0.9683 - val_loss: 0.0583 - val_accuracy: 0.9810
Epoch 41/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0661 - accuracy: 0.9736 - val_loss: 0.0370 - val_accuracy: 0.9714
Epoch 42/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1205 - accuracy: 0.9801 - val_loss: 0.0469 - val_accuracy: 0.9905
Epoch 43/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0422 - accuracy: 0.9895 - val_loss: 0.0423 - val_accuracy: 0.9810
Epoch 44/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0732 - accuracy: 0.9703 - val_loss: 0.0343 - val_accuracy: 0.9905
Epoch 45/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0500 - accuracy: 0.9794 - val_loss: 0.0441 - val_accuracy: 0.9810
Epoch 46/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0433 - accuracy: 0.9789 - val_loss: 0.0368 - val_accuracy: 0.9810
Epoch 47/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1398 - accuracy: 0.9737 - val_loss: 0.0474 - val_accuracy: 0.9905
Epoch 48/64
14/14 [==============================] - 0s 9ms/step - loss: 0.2125 - accuracy: 0.9681 - val_loss: 0.0644 - val_accuracy: 0.9714
Epoch 49/64
14/14 [==============================] - 0s 11ms/step - loss: 0.1950 - accuracy: 0.9715 - val_loss: 0.0661 - val_accuracy: 0.9524
Epoch 50/64
14/14 [==============================] - 0s 8ms/step - loss: 0.1293 - accuracy: 0.9512 - val_loss: 0.0956 - val_accuracy: 0.9524
Epoch 51/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1183 - accuracy: 0.9516 - val_loss: 0.0454 - val_accuracy: 0.9714
Epoch 52/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0581 - accuracy: 0.9818 - val_loss: 0.0848 - val_accuracy: 0.9905
Epoch 53/64
14/14 [==============================] - 0s 7ms/step - loss: 0.2103 - accuracy: 0.9663 - val_loss: 0.1044 - val_accuracy: 0.9524
Epoch 54/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0841 - accuracy: 0.9675 - val_loss: 0.0423 - val_accuracy: 0.9810
Epoch 55/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0570 - accuracy: 0.9840 - val_loss: 0.0746 - val_accuracy: 0.9810
Epoch 56/64
14/14 [==============================] - 0s 11ms/step - loss: 0.0856 - accuracy: 0.9796 - val_loss: 0.0399 - val_accuracy: 0.9905
Epoch 57/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1621 - accuracy: 0.9611 - val_loss: 0.0629 - val_accuracy: 0.9714
Epoch 58/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1316 - accuracy: 0.9759 - val_loss: 0.0762 - val_accuracy: 0.9524
Epoch 59/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1895 - accuracy: 0.9459 - val_loss: 0.0706 - val_accuracy: 0.9905
Epoch 60/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0800 - accuracy: 0.9754 - val_loss: 0.0493 - val_accuracy: 0.9810
Epoch 61/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0701 - accuracy: 0.9833 - val_loss: 0.0356 - val_accuracy: 0.9810
Epoch 62/64
14/14 [==============================] - 0s 8ms/step - loss: 0.2106 - accuracy: 0.9568 - val_loss: 0.0747 - val_accuracy: 0.9714
Epoch 63/64
14/14 [==============================] - 0s 7ms/step - loss: 0.1107 - accuracy: 0.9602 - val_loss: 0.0480 - val_accuracy: 0.9810
Epoch 64/64
14/14 [==============================] - 0s 7ms/step - loss: 0.0675 - accuracy: 0.9687 - val_loss: 0.0359 - val_accuracy: 0.9905

In [27]:
val_acc_per_epoch = history.history['val_accuracy']
best_epoch = val_acc_per_epoch.index(max(val_acc_per_epoch)) + 1
print('Best epoch: %d' % (best_epoch,))

Best epoch: 7

In [28]:
# Re-instantiate the hypermodel and train it with the optimal number of epochs from above.
hypermodel = tuner.hypermodel.build(best_hps)
# Retrain the model
hypermodel.fit(X_train, y_train, epochs=best_epoch)

Epoch 1/7
17/17 [==============================] - 1s 4ms/step - loss: 0.4771 - accuracy: 0.7952
Epoch 2/7
17/17 [==============================] - 0s 4ms/step - loss: 0.2108 - accuracy: 0.9246
Epoch 3/7
17/17 [==============================] - 0s 4ms/step - loss: 0.1189 - accuracy: 0.9471
Epoch 4/7
17/17 [==============================] - 0s 4ms/step - loss: 0.1253 - accuracy: 0.9591
Epoch 5/7
17/17 [==============================] - 0s 4ms/step - loss: 0.1005 - accuracy: 0.9577
Epoch 6/7
17/17 [==============================] - 0s 4ms/step - loss: 0.0968 - accuracy: 0.9634
Epoch 7/7
17/17 [==============================] - 0s 4ms/step - loss: 0.1392 - accuracy: 0.9605

In [29]:
eval_result = hypermodel.evaluate(X_val, y_val)
print("[test loss, test accuracy]:", eval_result)

5/5 [==============================] - 0s 2ms/step - loss: 0.0346 - accuracy: 0.9847
[test loss, test accuracy]: [0.03463554009795189, 0.9847328066825867]

In [30]:
# Retrain the model
hypermodel.fit(X_train, y_train, epochs=best_epoch)

Epoch 1/7
17/17 [==============================] - 0s 4ms/step - loss: 0.0842 - accuracy: 0.9637
Epoch 2/7
17/17 [==============================] - 0s 4ms/step - loss: 0.1282 - accuracy: 0.9561
Epoch 3/7
17/17 [==============================] - 0s 4ms/step - loss: 0.0883 - accuracy: 0.9714
Epoch 4/7
17/17 [==============================] - 0s 4ms/step - loss: 0.1524 - accuracy: 0.9618
Epoch 5/7
17/17 [==============================] - 0s 4ms/step - loss: 0.0994 - accuracy: 0.9447
Epoch 6/7
17/17 [==============================] - 0s 4ms/step - loss: 0.0832 - accuracy: 0.9695
Epoch 7/7
17/17 [==============================] - 0s 4ms/step - loss: 0.1051 - accuracy: 0.9695

In [31]:
# from keras.models import save_model
# hypermodel.save('best_model.h5')

In [32]:
# Load the model and predict
# from keras.models import load_model
# hypermodel = load_model('best_model.h5')
y_pred = hypermodel.predict(X_test)
y_pred = y_pred.astype(int)

In [33]:
y_pred = pd.DataFrame(y_pred, columns=['Survived'], index=X_test.index)
# saving the dataframe 
y_pred.to_csv('Predictions.csv')

In [34]:
import winsound
duration = 100  # milliseconds
freq = 3000  # Hz
winsound.Beep(freq, duration)