### Data sets were acquired from https://www.kaggle.com/c/titanic

In [1]:
# Import libraries and the data set
import pandas as pd
import numpy as np
import sidetable
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('train.csv', index_col=['PassengerId'])
X_test = pd.read_csv('test.csv', index_col=['PassengerId'])

In [2]:
# Have a look at the first five rows
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Column __Name__ and __Ticket__ has nothing to do with predicting __Survived__, it will be dropped

In [3]:
# Column 'Name' and 'Ticket' have nothing to do with predicting 'Survived', they will be dropped
df.drop(columns=['Name'], inplace=True)
X_test.drop(columns=['Name'], inplace=True)

In [4]:
# See the missing data in columns
df.stb.missing(style=True)

As column __Cabin__ has 77% missing values, the column will be dropped.
<br>Column __Age__ can be imputed.
<br>As column __Embarked__ has 2 missing rows, the rows will be dropped.

In [5]:
# As Pclass includes fare, I will drop 'Fare'
df.drop(columns=['Ticket', 'Cabin'], inplace=True, axis=1)

In [6]:
X_test.stb.missing(style=True)

As column __Cabin__ has 77% missing values, the column will be dropped.
<br>Column __Age__ can be imputed.
<br>As column __Fare__ has 2 missing rows, the rows will be dropped.

In [7]:
# As column Cabin is missing a lot, and column Ticket has a lot of unique values, which is hard to encode, I will drop them
X_test.drop(columns=['Ticket', 'Cabin'], axis=1, inplace=True)

In [8]:
# Recheck the missing data in columns
df.stb.missing(style=True)

In [9]:
X_test.stb.missing(style=True)

In [10]:
# Get X_train and y_train
y_train = df.Survived.copy()
X_train = df.drop(columns='Survived').copy()

In [11]:
# Retrive num_cols and cat_cols
num_cols = list(X_train._get_numeric_data().columns)
cat_cols = list(set(X_train.columns) - set(num_cols))

In [12]:
# Encode cat_cols
X_train = pd.get_dummies(data=X_train, columns=cat_cols, drop_first=True)
X_test = pd.get_dummies(data=X_test, columns=cat_cols, drop_first=True)

### As no categorical columns have missing data, there is no need to impute them

In [13]:
# Impute numeric data
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
num_imputer = IterativeImputer()
num_imputer.fit(X_train[num_cols])
X_train[num_cols] = num_imputer.transform(X_train[num_cols])
X_test[num_cols] = num_imputer.transform(X_test[num_cols])

In [14]:
def scale(X, num_cols):
    from sklearn.preprocessing import StandardScaler
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X[num_cols])
    X_scaled = pd.DataFrame(data=X_scaled, columns=num_cols, index=X.index)
    return X_scaled

In [15]:
# Scaling data
X_scaled = scale(X_train, num_cols)
X_test_scaled = scale(X_test, num_cols)

In [16]:
# Update cat_cols
cat_cols = set(X_train.columns) - set(num_cols)

In [17]:
X_train = pd.concat([X_scaled, X_train[cat_cols]], axis=1)

In [18]:
# Upsample y_train
from imblearn.combine import SMOTEENN
sampler = SMOTEENN()
X_train, y_train = sampler.fit_resample(X_train, y_train)

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, stratify=y_train)

In [20]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.layers import Activation, Dense, Conv2D, Flatten, MaxPool2D, BatchNormalization, Dropout
from tensorflow.keras.optimizers import Adam

# Create the keras tuner model.
def build_model(hp):
    hp_drop_out = hp.Float('dropout', 0, 0.5, step=0.1)
    hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])
    model = Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(Dense(units=hp.Int('units_' + str(i), min_value=32, max_value=512, step=32), activation='relu'))
        model.add(BatchNormalization())
        model.add(Dropout(hp_drop_out))
    model.add(Flatten())
    model.add(Dense(1, activation='sigmoid'))
    opt = Adam(learning_rate=hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4]))
    model.compile(optimizer=Adam(learning_rate=hp_learning_rate),
                loss='binary_crossentropy',
                metrics=['accuracy'])
    return model

In [21]:
import kerastuner as kt

tuner = kt.Hyperband(build_model,
                     objective='val_accuracy',
                     max_epochs=16,
                     overwrite=False)

In [22]:
# checkpoint = ModelCheckpoint('best_model.h5', monitor='val_accuracy',verbose=0, save_best_only=True)
es = EarlyStopping(monitor='val_accuracy', verbose=0, patience=10, min_delta=1e-3)
callbacks_list = [es]

In [23]:
tuner.search(X_train, y_train, epochs=64, batch_size=32, validation_data=(X_val, y_val), callbacks=callbacks_list)

Trial 254 Complete [00h 00m 13s]
val_accuracy: 0.9402984976768494

Best val_accuracy So Far: 0.9925373196601868
Total elapsed time: 00h 36m 56s
INFO:tensorflow:Oracle triggered exit

In [24]:
# Get the optimal hyperparameters
best_hps = tuner.get_best_hyperparameters(num_trials=1)[0]

In [26]:
# Build the model with the optimal hyperparameters and train it on the data for 64 epochs
model = tuner.hypermodel.build(best_hps)
history = model.fit(X_train, y_train, epochs=64, batch_size=32, validation_split=0.2)

val_acc_per_epoch = history.history['val_accuracy']
best_epoch = val_acc_per_epoch.index(max(val_acc_per_epoch)) + 1

Epoch 1/64
14/14 [==============================] - 3s 30ms/step - loss: 0.4875 - accuracy: 0.7792 - val_loss: 0.6598 - val_accuracy: 0.6542
Epoch 2/64
14/14 [==============================] - 0s 9ms/step - loss: 0.1240 - accuracy: 0.9554 - val_loss: 0.6300 - val_accuracy: 0.7944
Epoch 3/64
14/14 [==============================] - 0s 9ms/step - loss: 0.1160 - accuracy: 0.9712 - val_loss: 0.6181 - val_accuracy: 0.6636
Epoch 4/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0993 - accuracy: 0.9678 - val_loss: 0.6055 - val_accuracy: 0.6729
Epoch 5/64
14/14 [==============================] - 0s 9ms/step - loss: 0.1185 - accuracy: 0.9420 - val_loss: 0.5489 - val_accuracy: 0.8411
Epoch 6/64
14/14 [==============================] - 0s 10ms/step - loss: 0.0895 - accuracy: 0.9672 - val_loss: 0.5241 - val_accuracy: 0.8037
Epoch 7/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0639 - accuracy: 0.9821 - val_loss: 0.4649 - val_accuracy: 0.8972
Epoch 8/64
14/14 [==============================] - 0s 10ms/step - loss: 0.0687 - accuracy: 0.9763 - val_loss: 0.4204 - val_accuracy: 0.9065
Epoch 9/64
14/14 [==============================] - 0s 10ms/step - loss: 0.0731 - accuracy: 0.9763 - val_loss: 0.4038 - val_accuracy: 0.9065
Epoch 10/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0613 - accuracy: 0.9841 - val_loss: 0.4191 - val_accuracy: 0.8598
Epoch 11/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0931 - accuracy: 0.9634 - val_loss: 0.6850 - val_accuracy: 0.5701
Epoch 12/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0539 - accuracy: 0.9822 - val_loss: 0.9316 - val_accuracy: 0.4393
Epoch 13/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0390 - accuracy: 0.9856 - val_loss: 0.7878 - val_accuracy: 0.4860
Epoch 14/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0559 - accuracy: 0.9841 - val_loss: 0.5472 - val_accuracy: 0.6542
Epoch 15/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0471 - accuracy: 0.9816 - val_loss: 0.5063 - val_accuracy: 0.7009
Epoch 16/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0747 - accuracy: 0.9724 - val_loss: 0.5801 - val_accuracy: 0.6355
Epoch 17/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0789 - accuracy: 0.9765 - val_loss: 0.4845 - val_accuracy: 0.7103
Epoch 18/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0357 - accuracy: 0.9871 - val_loss: 0.4300 - val_accuracy: 0.7664
Epoch 19/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0657 - accuracy: 0.9803 - val_loss: 0.3047 - val_accuracy: 0.8879
Epoch 20/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0538 - accuracy: 0.9825 - val_loss: 0.3993 - val_accuracy: 0.8411
Epoch 21/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0653 - accuracy: 0.9794 - val_loss: 0.2142 - val_accuracy: 0.9252
Epoch 22/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0557 - accuracy: 0.9808 - val_loss: 0.1895 - val_accuracy: 0.9439
Epoch 23/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0448 - accuracy: 0.9884 - val_loss: 0.1251 - val_accuracy: 0.9439
Epoch 24/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0621 - accuracy: 0.9784 - val_loss: 0.1722 - val_accuracy: 0.9439
Epoch 25/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0874 - accuracy: 0.9739 - val_loss: 0.1008 - val_accuracy: 0.9720
Epoch 26/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0428 - accuracy: 0.9874 - val_loss: 0.0849 - val_accuracy: 0.9907
Epoch 27/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0639 - accuracy: 0.9792 - val_loss: 0.1438 - val_accuracy: 0.9252
Epoch 28/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0531 - accuracy: 0.9882 - val_loss: 0.1529 - val_accuracy: 0.9439
Epoch 29/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0450 - accuracy: 0.9894 - val_loss: 0.1528 - val_accuracy: 0.9252
Epoch 30/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0413 - accuracy: 0.9850 - val_loss: 0.1339 - val_accuracy: 0.9346
Epoch 31/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0601 - accuracy: 0.9802 - val_loss: 0.1079 - val_accuracy: 0.9533
Epoch 32/64
14/14 [==============================] - 0s 9ms/step - loss: 0.1073 - accuracy: 0.9628 - val_loss: 0.1399 - val_accuracy: 0.9720
Epoch 33/64
14/14 [==============================] - 0s 9ms/step - loss: 0.1256 - accuracy: 0.9658 - val_loss: 0.1450 - val_accuracy: 0.9533
Epoch 34/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0828 - accuracy: 0.9715 - val_loss: 0.2085 - val_accuracy: 0.9533
Epoch 35/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0795 - accuracy: 0.9779 - val_loss: 0.1042 - val_accuracy: 0.9626
Epoch 36/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0632 - accuracy: 0.9743 - val_loss: 0.1021 - val_accuracy: 0.9626
Epoch 37/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0684 - accuracy: 0.9752 - val_loss: 0.1007 - val_accuracy: 0.9533
Epoch 38/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0589 - accuracy: 0.9769 - val_loss: 0.1052 - val_accuracy: 0.9533
Epoch 39/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0828 - accuracy: 0.9734 - val_loss: 0.0774 - val_accuracy: 0.9626
Epoch 40/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0520 - accuracy: 0.9846 - val_loss: 0.0689 - val_accuracy: 0.9720
Epoch 41/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0587 - accuracy: 0.9802 - val_loss: 0.0498 - val_accuracy: 0.9907
Epoch 42/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0622 - accuracy: 0.9778 - val_loss: 0.0672 - val_accuracy: 0.9720
Epoch 43/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0383 - accuracy: 0.9887 - val_loss: 0.0644 - val_accuracy: 0.9626
Epoch 44/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0477 - accuracy: 0.9828 - val_loss: 0.0517 - val_accuracy: 0.9813
Epoch 45/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0492 - accuracy: 0.9887 - val_loss: 0.0841 - val_accuracy: 0.9720
Epoch 46/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0420 - accuracy: 0.9914 - val_loss: 0.1293 - val_accuracy: 0.9626
Epoch 47/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0525 - accuracy: 0.9848 - val_loss: 0.0613 - val_accuracy: 0.9813
Epoch 48/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0275 - accuracy: 0.9942 - val_loss: 0.0527 - val_accuracy: 0.9907
Epoch 49/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0456 - accuracy: 0.9829 - val_loss: 0.0474 - val_accuracy: 0.9813
Epoch 50/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0374 - accuracy: 0.9883 - val_loss: 0.0782 - val_accuracy: 0.9720
Epoch 51/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0474 - accuracy: 0.9826 - val_loss: 0.0674 - val_accuracy: 0.9813
Epoch 52/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0651 - accuracy: 0.9803 - val_loss: 0.0878 - val_accuracy: 0.9720
Epoch 53/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0700 - accuracy: 0.9736 - val_loss: 0.0511 - val_accuracy: 0.9720
Epoch 54/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0455 - accuracy: 0.9854 - val_loss: 0.0439 - val_accuracy: 0.9907
Epoch 55/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0634 - accuracy: 0.9868 - val_loss: 0.0479 - val_accuracy: 0.9813
Epoch 56/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0371 - accuracy: 0.9929 - val_loss: 0.0447 - val_accuracy: 0.9813
Epoch 57/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0345 - accuracy: 0.9888 - val_loss: 0.0517 - val_accuracy: 0.9813
Epoch 58/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0435 - accuracy: 0.9836 - val_loss: 0.0453 - val_accuracy: 0.9813
Epoch 59/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0426 - accuracy: 0.9891 - val_loss: 0.1002 - val_accuracy: 0.9533
Epoch 60/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0589 - accuracy: 0.9835 - val_loss: 0.0772 - val_accuracy: 0.9813
Epoch 61/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0474 - accuracy: 0.9848 - val_loss: 0.0512 - val_accuracy: 0.9813
Epoch 62/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0322 - accuracy: 0.9877 - val_loss: 0.0720 - val_accuracy: 0.9720
Epoch 63/64
14/14 [==============================] - 0s 8ms/step - loss: 0.0475 - accuracy: 0.9811 - val_loss: 0.0699 - val_accuracy: 0.9720
Epoch 64/64
14/14 [==============================] - 0s 9ms/step - loss: 0.0378 - accuracy: 0.9883 - val_loss: 0.0671 - val_accuracy: 0.9813

In [27]:
from keras.models import save_model
hypermodel = tuner.hypermodel.build(best_hps)

# Retrain the model
hypermodel.fit(X_train, y_train, epochs=best_epoch)
hypermodel.save('best_model.h5')

Epoch 1/26
17/17 [==============================] - 2s 5ms/step - loss: 0.4523 - accuracy: 0.7984
Epoch 2/26
17/17 [==============================] - 0s 5ms/step - loss: 0.1531 - accuracy: 0.9583
Epoch 3/26
17/17 [==============================] - 0s 6ms/step - loss: 0.1601 - accuracy: 0.9596
Epoch 4/26
17/17 [==============================] - 0s 6ms/step - loss: 0.0918 - accuracy: 0.9708
Epoch 5/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0822 - accuracy: 0.9746
Epoch 6/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0934 - accuracy: 0.9715
Epoch 7/26
17/17 [==============================] - 0s 6ms/step - loss: 0.0921 - accuracy: 0.9710
Epoch 8/26
17/17 [==============================] - 0s 6ms/step - loss: 0.0876 - accuracy: 0.9581
Epoch 9/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0604 - accuracy: 0.9828
Epoch 10/26
17/17 [==============================] - 0s 8ms/step - loss: 0.0798 - accuracy: 0.9714
Epoch 11/26
17/17 [==============================] - 0s 6ms/step - loss: 0.0569 - accuracy: 0.9849
Epoch 12/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0614 - accuracy: 0.9817
Epoch 13/26
17/17 [==============================] - 0s 5ms/step - loss: 0.1061 - accuracy: 0.9590
Epoch 14/26
17/17 [==============================] - 0s 6ms/step - loss: 0.0926 - accuracy: 0.9740
Epoch 15/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0545 - accuracy: 0.9874
Epoch 16/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0524 - accuracy: 0.9834
Epoch 17/26
17/17 [==============================] - 0s 6ms/step - loss: 0.0688 - accuracy: 0.9746
Epoch 18/26
17/17 [==============================] - 0s 7ms/step - loss: 0.0551 - accuracy: 0.9792
Epoch 19/26
17/17 [==============================] - 0s 6ms/step - loss: 0.0562 - accuracy: 0.9841
Epoch 20/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0810 - accuracy: 0.9801
Epoch 21/26
17/17 [==============================] - 0s 6ms/step - loss: 0.0588 - accuracy: 0.9870
Epoch 22/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0603 - accuracy: 0.9819
Epoch 23/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0642 - accuracy: 0.9780
Epoch 24/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0523 - accuracy: 0.9821
Epoch 25/26
17/17 [==============================] - 0s 5ms/step - loss: 0.0548 - accuracy: 0.9879
Epoch 26/26
17/17 [==============================] - 0s 6ms/step - loss: 0.0493 - accuracy: 0.9855

In [28]:
eval_result = hypermodel.evaluate(X_train, y_train)
print("[test loss, test accuracy]:", eval_result)

17/17 [==============================] - 0s 2ms/step - loss: 0.0405 - accuracy: 0.9850
[test loss, test accuracy]: [0.040476955473423004, 0.9850467443466187]

In [29]:
# Load the model and predict
from keras.models import load_model
hypermodel = load_model('best_model.h5')
y_pred = hypermodel.predict(X_test)
y_pred = y_pred.astype(int)

In [30]:
y_pred = pd.DataFrame(y_pred, columns=['Survived'], index=X_test.index)
# saving the dataframe 
y_pred.to_csv('Predictions.csv')

In [31]:
import winsound
duration = 500  # milliseconds
freq = 3000  # Hz
winsound.Beep(freq, duration)