### Data sets were acquired from https://www.kaggle.com/c/titanic

In [1]:
import warnings
warnings.filterwarnings('ignore')

##### Import datasets

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline

df_train = pd.read_csv('train.csv', index_col=['PassengerId'])
X_test = pd.read_csv('test.csv', index_col=['PassengerId'])
X_train = df_train.drop(columns=['Survived']).copy()
y_train = df_train['Survived'].copy()
train_test = pd.concat([X_train, X_test])
test_index = X_test.index

In [3]:
train_test = train_test.rename(columns=str.lower)

In [4]:
train_test.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
PassengerId,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Exploratory Data Analysis

# Create a proflie report on the data
from pandas_profiling import ProfileReport

profile = ProfileReport(train_test, title='Pandas Profiling Report', explorative=True)
profile.to_widgets() # Save widgets to cell
profile.to_file("Titanic report.html") # Save report in html extension

In [5]:
train_test['title'] = train_test['name'].str.extract(r'([a-zA-Z]+)\.')

In [6]:
pd.crosstab(train_test['title'], train_test['sex']).sort_values(by='title')

sex       female  male
title
Capt           0     1
Col            0     4
Countess       1     0
Don            0     1
Dona           1     0
Dr             1     7
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    61
Miss         260     0
Mlle           2     0
Mme            1     0
Mr             0   757
Mrs          197     0
Ms             2     0
Rev            0     8
Sir            0     1

In [7]:
# Convert underrepresented titles to 'Other'
train_test.title = train_test.title.replace(['Lady', 'Countess','Capt', 'Col', \
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Other')
train_test.title = train_test.title.replace('Mlle', 'Miss')
train_test.title = train_test.title.replace('Ms', 'Miss')
train_test.title = train_test.title.replace('Mme', 'Mrs')

In [8]:
train_test['relatives'] = train_test['sibsp'] + train_test['parch']

In [9]:
train_test.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,title,relatives
PassengerId,,,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,1
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,1
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,0
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,1
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,0

In [10]:
# Impute age
mean_age = train_test['age'].mean()
std_age = train_test['age'].std()
random_age_filled = np.random.uniform(mean_age - std_age, mean_age + std_age, size=train_test['age'].isnull().sum())
train_test.loc[train_test['age'].isna(), 'age'] = random_age_filled

#### Cleaning data

In [11]:
def remove_name(df):
    return df.drop(columns=['name', 'sibsp', 'parch', 'ticket', 'cabin'])

def imp(df):
    df.fillna(inplace=True, value={'fare': df['fare'].median(), 'embarked': df['embarked'].mode()}) 
    return df

def encode_cat(df):
    cat_cols = df.select_dtypes(exclude='number')
    cat_cols = list(cat_cols.columns)
    df = pd.get_dummies(df, drop_first=True, columns=cat_cols)
    return df

def drop_dup(df):
    return df.drop_duplicates()

In [12]:
train_test = train_test.pipe(remove_name).pipe(imp).pipe(encode_cat)

In [13]:
X_test = pd.DataFrame(train_test, index=test_index)
X_train = pd.DataFrame(train_test, index=list(set(train_test.index) - set(test_index)))

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, random_state=1, stratify=y_train)

In [15]:
import lazypredict
from lazypredict.Supervised import LazyClassifier
clf = LazyClassifier(verbose=0,ignore_warnings=True)
models, predictions = clf.fit(X_train, X_val, y_train, y_val)
models

ModuleNotFoundError: No module named 'lazypredict'

from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier

def model_score(model, X, y):
    result = cross_val_score(model, X, y, scoring='f1', cv=StratifiedKFold(10))
    print(f'Model {type(model).__name__}     average = {np.mean(result)}     std = {np.std(result)}')
    
model_score(RandomForestClassifier(), X_train, y_train)
model_score(SVC(), X_train, y_train)
model_score(XGBClassifier(), X_train, y_train)

from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, stratify=y_train, random_state=1)

from tune_sklearn import TuneSearchCV
import optuna

def objective(trial):
    
    param = {
        'max_depth': trial.suggest_int('max_depth', 10,50),
        'learning_rate': trial.suggest_categorical('learning_rate', [0.1,0.01,0.001]),
        'min_child_weight': trial.suggest_categorical('min_child_weight', [1e-5, 1e-3, 1e-2, 1e-1, 1, 1e1, 1e2, 1e3, 1e4]),
        'subsample': trial.suggest_loguniform('subsample', 0.2, 0.8), 
        'colsample_bytree': trial.suggest_loguniform('colsample_bytree', 0.4, 0.6),
        'reg_alpha': trial.suggest_categorical('reg_alpha', [0, 1e-1, 1, 2, 5, 7, 10, 50, 100]),
        'reg_lambda': trial.suggest_categorical('reg_lambda', [0, 1e-1, 1, 5, 10, 20, 50, 100])
        }
    model = XGBClassifier(**param)
    model.fit(X_train, y_train, eval_set=[(X_val, y_val)],early_stopping_rounds=100,verbose=False)
    preds = model.predict(X_val)
    return cross_val_score(model, X_train, y_train, scoring='f1', n_jobs=-1, cv=StratifiedKFold(10)).mean()

study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=200)
trial = study.best_trial
print('Accuracy: {}'.format(trial.value))
print("Best hyperparameters: {}".format(trial.params))

from yellowbrick.model_selection import learning_curve

# Build model with the best params
best = XGBClassifier(**study.best_params )

best.fit(X_train, y_train)
y_pred = best.predict(X_test)
y_pred = y_pred.astype(int)
y_pred = pd.DataFrame(y_pred, columns=['Survived'], index=X_test.index)
# saving the dataframe 
y_pred.to_csv('Predictions.csv')