### Data sets were acquired from https://www.kaggle.com/c/titanic

In [1]:
# Import libraries and the data set
import pandas as pd
import numpy as np
import sidetable
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('train.csv', index_col=['PassengerId'])
X_test = pd.read_csv('test.csv', index_col=['PassengerId'])

In [2]:
# Have a look at the first five rows
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Column __Name__ and __Ticket__ has nothing to do with predicting __Survived__, it will be dropped

In [3]:
# Column 'Name' and 'Ticket' have nothing to do with predicting 'Survived', they will be dropped
df.drop(columns=['Name'], inplace=True)
X_test.drop(columns=['Name'], inplace=True)

In [4]:
# See the missing data in columns
df.stb.missing(style=True)

As column __Cabin__ has 77% missing values, the column will be dropped.
<br>Column __Age__ can be imputed.
<br>As column __Embarked__ has 2 missing rows, the rows will be dropped.

In [5]:
# As Pclass includes fare, I will drop 'Fare'
df.drop(columns=['Ticket', 'Cabin'], inplace=True, axis=1)

In [6]:
X_test.stb.missing(style=True)

As column __Cabin__ has 77% missing values, the column will be dropped.
<br>Column __Age__ can be imputed.
<br>As column __Fare__ has 2 missing rows, the rows will be dropped.

In [7]:
# As column Cabin is missing a lot, and column Ticket has a lot of unique values, which is hard to encode, I will drop them
X_test.drop(columns=['Ticket', 'Cabin'], axis=1, inplace=True)

In [8]:
# Recheck the missing data in columns
df.stb.missing(style=True)

In [9]:
X_test.stb.missing(style=True)

In [10]:
# Get X_train and y_train
y_train = df.Survived.copy()
X_train = df.drop(columns='Survived').copy()

In [11]:
# Retrive num_cols and cat_cols
num_cols = list(X_train._get_numeric_data().columns)
cat_cols = list(set(X_train.columns) - set(num_cols))

In [12]:
# Encode cat_cols
X_train = pd.get_dummies(data=X_train, columns=cat_cols, drop_first=True)
X_test = pd.get_dummies(data=X_test, columns=cat_cols, drop_first=True)

In [13]:
# Impute numeric data
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
num_imputer = IterativeImputer()
num_imputer.fit(X_train[num_cols])
X_train[num_cols] = num_imputer.transform(X_train[num_cols])
X_test[num_cols] = num_imputer.transform(X_test[num_cols])

In [14]:
def scale(X, num_cols):
    from sklearn.preprocessing import StandardScaler
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X[num_cols])
    X_scaled = pd.DataFrame(data=X_scaled, columns=num_cols, index=X.index)
    return X_scaled

In [15]:
# Scaling data
X_scaled = scale(X_train, num_cols)
X_test_scaled = scale(X_test, num_cols)

In [16]:
# Update cat_cols
cat_cols = set(X_train.columns) - set(num_cols)

In [17]:
X_train = pd.concat([X_scaled, X_train[cat_cols]], axis=1)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=split_size, stratify=y_train)

In [19]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.layers import Activation, Dense, Flatten, BatchNormalization, Dropout
from tensorflow.keras.optimizers import Adam

# Create the keras tuner model.
def build_model(hp):
    hp_drop_out = hp.Float('dropout', 0, 0.5, step=0.1)
    hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])
    model = Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(Dense(units=hp.Int('units_' + str(i), min_value=32, max_value=512, step=32), activation='relu'))
#         model.add(BatchNormalization())
        model.add(Dropout(hp_drop_out))
#     model.add(Flatten())
    model.add(Dense(1, activation='sigmoid'))
    opt = Adam(learning_rate=hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4]))
    model.compile(optimizer=Adam(learning_rate=hp_learning_rate),
                loss='binary_crossentropy',
                metrics=['accuracy'])
    return model

In [20]:
'''
Credit source: 
    https://www.tensorflow.org/tutorials/keras/keras_tuner
    https://github.com/keras-team/keras-tuner/blob/master/examples/cifar10.py
'''
import kerastuner as kt

tuner = kt.Hyperband(build_model,
                     objective='val_accuracy', 
                     max_epochs=16,
                     overwrite=False)

INFO:tensorflow:Reloading Oracle from existing project .\untitled_project\oracle.json
INFO:tensorflow:Reloading Tuner from .\untitled_project\tuner0.json

In [21]:
es = EarlyStopping(monitor='val_accuracy', verbose=0, patience=10, min_delta=1e-3)
callbacks_list = [es]

In [22]:
tuner.search(X_train, y_train, epochs=64, batch_size=32, validation_data=(X_val, y_val), callbacks=callbacks_list)

INFO:tensorflow:Oracle triggered exit

In [23]:
# Get the optimal hyperparameters
best_hps=tuner.get_best_hyperparameters(num_trials=1)[0]
model = tuner.hypermodel.build(best_hps)
history = model.fit(X_train, y_train, epochs=64, validation_data=(X_val, y_val))

Epoch 1/64
20/20 [==============================] - 2s 43ms/step - loss: 0.6779 - accuracy: 0.5674 - val_loss: 0.5501 - val_accuracy: 0.6157
Epoch 2/64
20/20 [==============================] - 0s 15ms/step - loss: 0.5818 - accuracy: 0.6144 - val_loss: 0.4958 - val_accuracy: 0.8284
Epoch 3/64
20/20 [==============================] - 0s 15ms/step - loss: 0.5788 - accuracy: 0.7680 - val_loss: 0.4384 - val_accuracy: 0.8507
Epoch 4/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4846 - accuracy: 0.8236 - val_loss: 0.4715 - val_accuracy: 0.8358
Epoch 5/64
20/20 [==============================] - 0s 14ms/step - loss: 0.4781 - accuracy: 0.8201 - val_loss: 0.4402 - val_accuracy: 0.8246
Epoch 6/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4379 - accuracy: 0.8118 - val_loss: 0.3971 - val_accuracy: 0.8396
Epoch 7/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4543 - accuracy: 0.8165 - val_loss: 0.3890 - val_accuracy: 0.8433
Epoch 8/64
20/20 [==============================] - 0s 16ms/step - loss: 0.4194 - accuracy: 0.8455 - val_loss: 0.4177 - val_accuracy: 0.8433
Epoch 9/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4368 - accuracy: 0.8121 - val_loss: 0.4710 - val_accuracy: 0.8470
Epoch 10/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4064 - accuracy: 0.8334 - val_loss: 0.4596 - val_accuracy: 0.8545
Epoch 11/64
20/20 [==============================] - 0s 16ms/step - loss: 0.3800 - accuracy: 0.8576 - val_loss: 0.4761 - val_accuracy: 0.8433
Epoch 12/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4461 - accuracy: 0.8259 - val_loss: 0.4588 - val_accuracy: 0.8470
Epoch 13/64
20/20 [==============================] - 0s 14ms/step - loss: 0.4535 - accuracy: 0.7941 - val_loss: 0.5578 - val_accuracy: 0.8321
Epoch 14/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4199 - accuracy: 0.8333 - val_loss: 0.3914 - val_accuracy: 0.8396
Epoch 15/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3815 - accuracy: 0.8655 - val_loss: 0.4538 - val_accuracy: 0.8433
Epoch 16/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4282 - accuracy: 0.8404 - val_loss: 0.4690 - val_accuracy: 0.8396
Epoch 17/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4055 - accuracy: 0.8317 - val_loss: 0.4625 - val_accuracy: 0.8396
Epoch 18/64
20/20 [==============================] - 0s 16ms/step - loss: 0.4677 - accuracy: 0.8029 - val_loss: 0.5693 - val_accuracy: 0.7948
Epoch 19/64
20/20 [==============================] - 0s 14ms/step - loss: 0.4025 - accuracy: 0.8228 - val_loss: 0.6988 - val_accuracy: 0.8470
Epoch 20/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3848 - accuracy: 0.8455 - val_loss: 0.4747 - val_accuracy: 0.8433
Epoch 21/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3845 - accuracy: 0.8715 - val_loss: 0.8202 - val_accuracy: 0.8321
Epoch 22/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4424 - accuracy: 0.8209 - val_loss: 0.5675 - val_accuracy: 0.8284
Epoch 23/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3628 - accuracy: 0.8647 - val_loss: 0.4224 - val_accuracy: 0.8433
Epoch 24/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3703 - accuracy: 0.8526 - val_loss: 0.6329 - val_accuracy: 0.8358
Epoch 25/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3604 - accuracy: 0.8545 - val_loss: 0.5269 - val_accuracy: 0.7985
Epoch 26/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4455 - accuracy: 0.8149 - val_loss: 0.4970 - val_accuracy: 0.8396
Epoch 27/64
20/20 [==============================] - 0s 18ms/step - loss: 0.3903 - accuracy: 0.8524 - val_loss: 0.9361 - val_accuracy: 0.8507
Epoch 28/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3835 - accuracy: 0.8434 - val_loss: 0.7221 - val_accuracy: 0.8358
Epoch 29/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3962 - accuracy: 0.8377 - val_loss: 0.7416 - val_accuracy: 0.8321
Epoch 30/64
20/20 [==============================] - 0s 16ms/step - loss: 0.3977 - accuracy: 0.8273 - val_loss: 0.6094 - val_accuracy: 0.7948
Epoch 31/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4090 - accuracy: 0.7927 - val_loss: 0.4900 - val_accuracy: 0.8358
Epoch 32/64
20/20 [==============================] - 0s 15ms/step - loss: 0.4400 - accuracy: 0.8150 - val_loss: 0.6295 - val_accuracy: 0.8321
Epoch 33/64
20/20 [==============================] - 0s 14ms/step - loss: 0.4142 - accuracy: 0.8408 - val_loss: 0.9374 - val_accuracy: 0.8284
Epoch 34/64
20/20 [==============================] - 0s 16ms/step - loss: 0.3700 - accuracy: 0.8373 - val_loss: 0.6525 - val_accuracy: 0.8284
Epoch 35/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3498 - accuracy: 0.8584 - val_loss: 1.0127 - val_accuracy: 0.8470
Epoch 36/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3600 - accuracy: 0.8563 - val_loss: 0.8216 - val_accuracy: 0.8470
Epoch 37/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3610 - accuracy: 0.8445 - val_loss: 1.3798 - val_accuracy: 0.8396
Epoch 38/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3420 - accuracy: 0.8585 - val_loss: 0.7783 - val_accuracy: 0.8321
Epoch 39/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3366 - accuracy: 0.8738 - val_loss: 0.9050 - val_accuracy: 0.8470
Epoch 40/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3397 - accuracy: 0.8699 - val_loss: 0.9642 - val_accuracy: 0.8582
Epoch 41/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3614 - accuracy: 0.8519 - val_loss: 1.2074 - val_accuracy: 0.8507
Epoch 42/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3626 - accuracy: 0.8587 - val_loss: 0.9693 - val_accuracy: 0.8470
Epoch 43/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3479 - accuracy: 0.8473 - val_loss: 1.0787 - val_accuracy: 0.8470
Epoch 44/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3618 - accuracy: 0.8514 - val_loss: 0.8964 - val_accuracy: 0.8321
Epoch 45/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3695 - accuracy: 0.8509 - val_loss: 1.2012 - val_accuracy: 0.8209
Epoch 46/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3797 - accuracy: 0.8381 - val_loss: 0.8113 - val_accuracy: 0.8284
Epoch 47/64
20/20 [==============================] - 0s 16ms/step - loss: 0.3669 - accuracy: 0.8426 - val_loss: 0.5611 - val_accuracy: 0.8172
Epoch 48/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3386 - accuracy: 0.8822 - val_loss: 0.8895 - val_accuracy: 0.8396
Epoch 49/64
20/20 [==============================] - 0s 17ms/step - loss: 0.3420 - accuracy: 0.8710 - val_loss: 0.7270 - val_accuracy: 0.8358
Epoch 50/64
20/20 [==============================] - 0s 16ms/step - loss: 0.3350 - accuracy: 0.8637 - val_loss: 0.7644 - val_accuracy: 0.8246
Epoch 51/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3483 - accuracy: 0.8501 - val_loss: 1.0638 - val_accuracy: 0.8209
Epoch 52/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3419 - accuracy: 0.8504 - val_loss: 1.2722 - val_accuracy: 0.8284
Epoch 53/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3104 - accuracy: 0.8742 - val_loss: 0.9410 - val_accuracy: 0.8209
Epoch 54/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3623 - accuracy: 0.8602 - val_loss: 1.0827 - val_accuracy: 0.8209
Epoch 55/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3764 - accuracy: 0.8322 - val_loss: 0.9497 - val_accuracy: 0.8321
Epoch 56/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3211 - accuracy: 0.8654 - val_loss: 1.1827 - val_accuracy: 0.8470
Epoch 57/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3246 - accuracy: 0.8810 - val_loss: 1.0767 - val_accuracy: 0.8172
Epoch 58/64
20/20 [==============================] - 0s 17ms/step - loss: 0.3301 - accuracy: 0.8460 - val_loss: 1.2150 - val_accuracy: 0.8358
Epoch 59/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3571 - accuracy: 0.8583 - val_loss: 1.6297 - val_accuracy: 0.8246
Epoch 60/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3521 - accuracy: 0.8620 - val_loss: 1.4279 - val_accuracy: 0.8284
Epoch 61/64
20/20 [==============================] - 0s 16ms/step - loss: 0.3124 - accuracy: 0.8756 - val_loss: 1.5468 - val_accuracy: 0.8246
Epoch 62/64
20/20 [==============================] - 0s 15ms/step - loss: 0.3632 - accuracy: 0.8359 - val_loss: 2.0908 - val_accuracy: 0.8284
Epoch 63/64
20/20 [==============================] - 0s 15ms/step - loss: 0.2875 - accuracy: 0.8928 - val_loss: 0.8734 - val_accuracy: 0.8209
Epoch 64/64
20/20 [==============================] - 0s 16ms/step - loss: 0.3397 - accuracy: 0.8738 - val_loss: 1.7106 - val_accuracy: 0.8209

In [24]:
val_acc_per_epoch = history.history['val_accuracy']
best_epoch = val_acc_per_epoch.index(max(val_acc_per_epoch)) + 1
print('Best epoch: %d' % (best_epoch,))

Best epoch: 40

In [25]:
# Re-instantiate the hypermodel and train it with the optimal number of epochs from above.
hypermodel = tuner.hypermodel.build(best_hps)
# Retrain the model
hypermodel.fit(X_train, y_train, epochs=best_epoch)

Epoch 1/40
20/20 [==============================] - 2s 12ms/step - loss: 0.6677 - accuracy: 0.6068
Epoch 2/40
20/20 [==============================] - 0s 12ms/step - loss: 0.5707 - accuracy: 0.6879
Epoch 3/40
20/20 [==============================] - 0s 12ms/step - loss: 0.5058 - accuracy: 0.8231
Epoch 4/40
20/20 [==============================] - 0s 12ms/step - loss: 0.5082 - accuracy: 0.7938
Epoch 5/40
20/20 [==============================] - 0s 12ms/step - loss: 0.5034 - accuracy: 0.8197
Epoch 6/40
20/20 [==============================] - 0s 11ms/step - loss: 0.4563 - accuracy: 0.8082
Epoch 7/40
20/20 [==============================] - 0s 11ms/step - loss: 0.4494 - accuracy: 0.8217
Epoch 8/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4015 - accuracy: 0.8340
Epoch 9/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4132 - accuracy: 0.8282
Epoch 10/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4416 - accuracy: 0.8198
Epoch 11/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4255 - accuracy: 0.8322
Epoch 12/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3969 - accuracy: 0.8243
Epoch 13/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3929 - accuracy: 0.8680
Epoch 14/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4204 - accuracy: 0.8306
Epoch 15/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3774 - accuracy: 0.8504
Epoch 16/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3791 - accuracy: 0.8527
Epoch 17/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4101 - accuracy: 0.8285
Epoch 18/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3470 - accuracy: 0.8532
Epoch 19/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4120 - accuracy: 0.8138
Epoch 20/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3710 - accuracy: 0.8514
Epoch 21/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3590 - accuracy: 0.8537
Epoch 22/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4076 - accuracy: 0.8419
Epoch 23/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4530 - accuracy: 0.8411
Epoch 24/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4038 - accuracy: 0.8437
Epoch 25/40
20/20 [==============================] - 0s 13ms/step - loss: 0.3903 - accuracy: 0.8589
Epoch 26/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4334 - accuracy: 0.8359
Epoch 27/40
20/20 [==============================] - 0s 11ms/step - loss: 0.4171 - accuracy: 0.8350
Epoch 28/40
20/20 [==============================] - 0s 11ms/step - loss: 0.4279 - accuracy: 0.8241
Epoch 29/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4323 - accuracy: 0.8224
Epoch 30/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3966 - accuracy: 0.8589
Epoch 31/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3783 - accuracy: 0.8625
Epoch 32/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3887 - accuracy: 0.8509
Epoch 33/40
20/20 [==============================] - 0s 13ms/step - loss: 0.3832 - accuracy: 0.8521
Epoch 34/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3691 - accuracy: 0.8429
Epoch 35/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3414 - accuracy: 0.8625
Epoch 36/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3453 - accuracy: 0.8674
Epoch 37/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3690 - accuracy: 0.8563
Epoch 38/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3680 - accuracy: 0.8427
Epoch 39/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3723 - accuracy: 0.8564
Epoch 40/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3670 - accuracy: 0.8622

In [26]:
eval_result = hypermodel.evaluate(X_val, y_val)
print("[test loss, test accuracy]:", eval_result)

9/9 [==============================] - 0s 3ms/step - loss: 0.7708 - accuracy: 0.8470
[test loss, test accuracy]: [0.7707520127296448, 0.8470149040222168]

In [27]:
# Retrain the model
hypermodel.fit(X_train, y_train, epochs=best_epoch)

Epoch 1/40
20/20 [==============================] - 0s 11ms/step - loss: 0.3496 - accuracy: 0.8620
Epoch 2/40
20/20 [==============================] - 0s 11ms/step - loss: 0.3687 - accuracy: 0.8587
Epoch 3/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3491 - accuracy: 0.8587
Epoch 4/40
20/20 [==============================] - 0s 13ms/step - loss: 0.3540 - accuracy: 0.8636
Epoch 5/40
20/20 [==============================] - 0s 11ms/step - loss: 0.3478 - accuracy: 0.8555
Epoch 6/40
20/20 [==============================] - 0s 13ms/step - loss: 0.3874 - accuracy: 0.8411
Epoch 7/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3450 - accuracy: 0.8571
Epoch 8/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3482 - accuracy: 0.8507
Epoch 9/40
20/20 [==============================] - 0s 13ms/step - loss: 0.3618 - accuracy: 0.8668
Epoch 10/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3390 - accuracy: 0.8587
Epoch 11/40
20/20 [==============================] - 0s 11ms/step - loss: 0.3570 - accuracy: 0.8571
Epoch 12/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3679 - accuracy: 0.8427
Epoch 13/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3476 - accuracy: 0.8587
Epoch 14/40
20/20 [==============================] - 0s 11ms/step - loss: 0.3493 - accuracy: 0.8604
Epoch 15/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3519 - accuracy: 0.8604
Epoch 16/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3647 - accuracy: 0.8539
Epoch 17/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3710 - accuracy: 0.8427
Epoch 18/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4444 - accuracy: 0.8331
Epoch 19/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4066 - accuracy: 0.8443
Epoch 20/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4047 - accuracy: 0.8347
Epoch 21/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3767 - accuracy: 0.8427
Epoch 22/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3480 - accuracy: 0.8571
Epoch 23/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3617 - accuracy: 0.8427
Epoch 24/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3655 - accuracy: 0.8523
Epoch 25/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3865 - accuracy: 0.8234
Epoch 26/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3716 - accuracy: 0.8652
Epoch 27/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3652 - accuracy: 0.8523
Epoch 28/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3501 - accuracy: 0.8555
Epoch 29/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3401 - accuracy: 0.8668
Epoch 30/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3439 - accuracy: 0.8587
Epoch 31/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3423 - accuracy: 0.8475
Epoch 32/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3400 - accuracy: 0.8555
Epoch 33/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3375 - accuracy: 0.8571
Epoch 34/40
20/20 [==============================] - 0s 11ms/step - loss: 0.3406 - accuracy: 0.8587
Epoch 35/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4195 - accuracy: 0.8331
Epoch 36/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4705 - accuracy: 0.8138
Epoch 37/40
20/20 [==============================] - 0s 12ms/step - loss: 0.4084 - accuracy: 0.8331
Epoch 38/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3660 - accuracy: 0.8604
Epoch 39/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3487 - accuracy: 0.8620
Epoch 40/40
20/20 [==============================] - 0s 12ms/step - loss: 0.3425 - accuracy: 0.8620

In [28]:
# from keras.models import save_model
# hypermodel.save('best_model.h5')

In [29]:
# Load the model and predict
# from keras.models import load_model
# hypermodel = load_model('best_model.h5')
y_pred = hypermodel.predict(X_test)
y_pred = y_pred.astype(int)

In [30]:
y_pred = pd.DataFrame(y_pred, columns=['Survived'], index=X_test.index)
# saving the dataframe 
y_pred.to_csv('Predictions.csv')

In [31]:
import winsound
duration = 100  # milliseconds
freq = 3000  # Hz
winsound.Beep(freq, duration)